<div class="row align-items-center justify-content-center overflow-auto h-100">
    <div class='M0-mini-card pr-4 mb-4'>
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
        <!-- Start Divided -->
        <div class="pb-4"></div>
        <!-- End Divided -->
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
    </div>
    <div class='M0-mini-card pr-4 mb-4'>
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
        <!-- Start Divided -->
        <div class="pb-4"></div>
        <!-- End Divided -->
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
    </div>
    <div class='M0-mini-card pr-4 mb-4'>
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-green-25 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
        <!-- Start Divided -->
        <div class="pb-4"></div>
        <!-- End Divided -->
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
    </div>
    <div class='M0-mini-card pr-4 mb-4'>
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
        <!-- Start Divided -->
        <div class="pb-4"></div>
        <!-- End Divided -->
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
    </div>
    <div class='M0-mini-card pr-4 mb-4'>
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-green-25 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
        <!-- Start Divided -->
        <div class="pb-4"></div>
        <!-- End Divided -->
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
    </div>
    <div class='M0-mini-card pr-4 mb-4'>
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-green-25 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
        <!-- Start Divided -->
        <div class="pb-4"></div>
        <!-- End Divided -->
        <!-- Icone -->
        <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4">
            <!-- Edit Icon -->
            <div class="d-flex flex-column h-50 align-items-center">
                <i class="sM0-bg-opacity-gold-25 sM0-f-radius p-4 OM-img-icon sM0-icon-d sM0-bg-imgs-center mb-4"></i>
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr ml-2">Amenities And Features</p>
            </div>
        </div>
    </div>
</div>