<!-- Assign User Row -->
<div class="row py-4 sM0-supp-1-bg d-flex mb-1 sM0-t-r-radius">
  <!-- 1st Column Holder { Assign User } -->
  <div class="col-4 py-2 pl-5">
    <p class="m-0 sM0-fs-16 sM0-text-0-cr d-flex align-items-center">
      <i class="sM0-icon-d sM0-bg-opacity-green-25 rounded-circle p-4 OM-icon-plus sM0-bg-imgs-center mr-2"></i>Assign User
    </p>
  </div>
  <!-- 2st Column Holder { Button } -->
  <div class="col-4 p-0 d-flex justify-content-center align-items-center">
    <button class="sM0-btn-w-160 sM0-text-0-cr sM0-fs-12 sM0-f-radius d-flex align-items-center justify-content-center btn sM0-supp-0-bg">
      <i class="sM0-icon-d OM-icon-inprogress sM0-bg-imgs-center mr-3"></i>In-Progress
    </button>
  </div>
  <!-- 3st Column Holder { Timer } -->
  <div class="col-4 d-flex pr-5 pl-0 align-items-center">
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-text-0-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-alarm mb-1 sM0-bg-imgs-center"></i>00 : 00
      </p>
    </div>
    <div class="w-100 d-flex justify-content-end">
    <p class="mb-0 sM0-fs-16 sM0-danger-cr d-flex flex-column align-items-center">
      <i class="sM0-icon-d OM-icon-flagred mb-1 sM0-bg-imgs-center"></i>48 : 00
      </p>
    </div>
  </div>
</div>
<!-- Completed Row -->
<div class="row py-3 sM0-bg-opacity-green-05 mb-1 d-flex sM0-l-b-radius">
  <!-- 1st Column Holder { Assign User } -->
  <div class="col-4 py-2 pl-5 sM0-bg-opacity-green-05 sM0-r-b-radius d-flex align-items-center">
    <div>
      <i class="OM-img-profile d-block sM0-img-e sM0-circle-border sM0-bg-imgs-center"></i>
    </div>
    <div class="pl-2">
      <p class="mb-0 sM0-main-cr">Name Surname</p>
      <p class="sM0-fs-10 mb-0 sM0-text-0-cr d-flex pl-1"><i
          class="OM-icon-designwhite sM0-icon-e sM0-bg-imgs-center mr-1"></i>Graphic Designer</p>
    </div>
  </div>
  <!-- 2st Column Holder { Button } -->
  <div class="col-4 d-flex justify-content-center align-items-center">
    <button
      class="sM0-btn-w-160 sM0-green-cr sM0-fs-12 sM0-f-radius d-flex align-items-center justify-content-center btn sM0-bg-opacity-green-25">
      <i class="sM0-icon-d  OM-icon-rightgreen sM0-bg-imgs-center mr-3"></i>Completed
    </button>
  </div>
  <!-- 3st Column Holder { Timer } -->
  <div class="col-4 d-flex pr-5 pl-0 align-items-center">
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-green-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-alarmgreen mb-1 sM0-bg-imgs-center"></i>00 : 00
      </p>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-green-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-flaggreen mb-1 sM0-bg-imgs-center"></i>48 : 00
      </p>
    </div>
  </div>
</div>
<!-- Pending Row -->
<div class="row py-3 sM0-bg-opacity-gray-90~ sM0-bg-opacity-gold-25 mb-1 d-flex sM0-l-b-radius">
  <!-- 1st Column Holder { Assign User } -->
  <div class="col-4 py-2 pl-5 sM0-bg-opacity-dark-90~ sM0-bg-opacity-gold-25 sM0-r-b-radius d-flex align-items-center">
    <div>
      <i class="OM-img-profile d-block sM0-img-e sM0-circle-border sM0-bg-imgs-center"></i>
    </div>
    <div class="pl-2">
      <p class="mb-0 sM0-main-cr">Name Surname</p>
      <p class="sM0-fs-10 mb-0 sM0-text-0-cr d-flex pl-1"><i
          class="OM-icon-designwhite sM0-icon-e sM0-bg-imgs-center mr-1"></i>Graphic Designer</p>
    </div>
  </div>
  <!-- 2st Column Holder { Button } -->
  <div class="col-4 d-flex justify-content-center align-items-center">
    <!-- start buttton -->
    <button
      class="btn sM0-btn-w-100 d-flex justify-content-center align-items-center sM0-t-l-radius sM0-bg-opacity-gold-25 pl-2 py-2">
      <i class="OM-icon-timergold sM0-icon-d sM0-bg-imgs-center mr-2"></i>
      <p class="sM0-main-cr d-inline-block mb-0 sM0-fs-12">Pending</p>
    </button>
    <!-- cancle button -->
    <button
      class="btn sM0-btn-w-58 d-flex justify-content-center align-items-center sM0-r-b-radius sM0-bg-opacity-gold-25 ml-1 pr-4 py-2">
      <i class="OM-icon-exclamationgold sM0-icon-d sM0-bg-imgs-center"></i>
    </button>
  </div>
  <!-- 3st Column Holder { Timer } -->
  <div class="col-4 d-flex pr-5 pl-0 align-items-center">
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-main-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-alarmgold mb-1 sM0-bg-imgs-center"></i>00 : 00
      </p>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-danger-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-flagred mb-1 sM0-bg-imgs-center"></i>48 : 00
      </p>
    </div>
  </div>
</div>
<!-- In-Progress Red Row -->
<div class="row py-3 sM0-bg-opacity-red-25 mb-1 d-flex sM0-l-b-radius">
  <!-- 1st Column Holder { Assign User } -->
  <div class="col-4 py-2 pl-5 sM0-bg-opacity-red-25 sM0-r-b-radius d-flex align-items-center">
    <div>
      <i class="OM-img-profile d-block sM0-img-e sM0-circle-border sM0-bg-imgs-center"></i>
    </div>
    <div class="pl-2">
      <p class="mb-0 sM0-main-cr">Name Surname</p>
      <p class="sM0-fs-10 mb-0 sM0-text-0-cr d-flex pl-1"><i
          class="OM-icon-designwhite sM0-icon-e sM0-bg-imgs-center mr-1"></i>Graphic Designer</p>
    </div>
  </div>
  <!-- 2st Column Holder { Button } -->
  <div class="col-4 d-flex justify-content-center align-items-center">
    <!-- start buttton -->
    <button
      class="btn sM0-btn-w-100 d-flex justify-content-center align-items-center sM0-t-l-radius sM0-bg-opacity-red-25 pl-2 py-2">
      <i class="OM-icon-inprogressred sM0-icon-d sM0-bg-imgs-center mr-2"></i>
      <p class="sM0-danger-cr d-inline-block mb-0 sM0-fs-12">InProgress</p>
    </button>
    <!-- cancle button -->
    <button
      class="btn sM0-btn-w-58 d-flex justify-content-center align-items-center sM0-r-b-radius sM0-bg-opacity-red-25 ml-1 pr-4 py-2">
      <i class="OM-icon-exclamation sM0-icon-d sM0-bg-imgs-center"></i>
    </button>
  </div>
  <!-- 3st Column Holder { Timer } -->
  <div class="col-4 d-flex pr-5 pl-0 align-items-center">
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-danger-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-alarmred mb-1 sM0-bg-imgs-center"></i>00 : 00
      </p>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-danger-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-flagred mb-1 sM0-bg-imgs-center"></i>48 : 00
      </p>
    </div>
  </div>
</div>
<!-- In-Progress Row -->
<div class="row py-3 sM0-bg-opacity-supp-1-5 mb-1 d-flex sM0-l-b-radius">
  <!-- 1st Column Holder { Assign User } -->
  <div class="col-4 py-2 pl-5 sM0-bg-opacity-dark-90 sM0-r-b-radius d-flex align-items-center">
    <div>
      <i class="OM-img-profile d-block sM0-img-e sM0-circle-border sM0-bg-imgs-center"></i>
    </div>
    <div class="pl-2">
      <p class="mb-0 sM0-main-cr">Name Surname</p>
      <p class="sM0-fs-10 mb-0 sM0-text-0-cr d-flex pl-1"><i
          class="OM-icon-designwhite sM0-icon-e sM0-bg-imgs-center mr-1"></i>Graphic Designer</p>
    </div>
  </div>
  <!-- 2st Column Holder { Button } -->
  <div class="col-4 d-flex justify-content-center align-items-center">
    <button
      class="sM0-btn-w-160 sM0-text-0-cr sM0-fs-12 sM0-f-radius d-flex align-items-center justify-content-center btn sM0-supp-0-bg">
      <i class="sM0-icon-d  OM-icon-inprogress sM0-bg-imgs-center mr-3"></i>In-Progress
    </button>
  </div>
  <!-- 3st Column Holder { Timer } -->
  <div class="col-4 d-flex pr-5 pl-0 align-items-center">
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-text-0-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-alarm mb-1 sM0-bg-imgs-center"></i>00 : 00
      </p>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-danger-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-flagred mb-1 sM0-bg-imgs-center"></i>48 : 00
      </p>
    </div>
  </div>
</div>
<!-- Complete Red Row -->
<div class="row py-3 sM0-bg-opacity-gray-90 mb-1 d-flex sM0-l-b-radius">
  <!-- 1st Column Holder { Assign User } -->
  <div class="col-4 py-2 pl-5 sM0-bg-opacity-dark-90 sM0-r-b-radius d-flex align-items-center">
    <div>
      <i class="OM-img-profile d-block sM0-img-e sM0-circle-border sM0-bg-imgs-center"></i>
    </div>
    <div class="pl-2">
      <p class="mb-0 sM0-main-cr">Name Surname</p>
      <p class="sM0-fs-10 mb-0 sM0-text-0-cr d-flex pl-1"><i
          class="OM-icon-designwhite sM0-icon-e sM0-bg-imgs-center mr-1"></i>Graphic Designer</p>
    </div>
  </div>
  <!-- 2st Column Holder { Button } -->
  <div class="col-4 d-flex justify-content-center align-items-center">
    <button
      class="sM0-btn-w-160 sM0-danger-cr sM0-fs-12 sM0-f-radius d-flex align-items-center justify-content-center btn sM0-bg-opacity-red-25">
      <i class="sM0-icon-d  OM-icon-rightred sM0-bg-imgs-center mr-3"></i>Completed
    </button>
  </div>
  <!-- 3st Column Holder { Timer } -->
  <div class="col-4 d-flex pr-5 pl-0 align-items-center">
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-text-0-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-alarm mb-1 sM0-bg-imgs-center"></i>00 : 00
      </p>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <p class="mb-0 sM0-fs-16 sM0-danger-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d OM-icon-flagred mb-1 sM0-bg-imgs-center"></i>48 : 00
      </p>
    </div>
  </div>
</div>
