<div class="row py-4 px-5 sM0-supp-1-bg d-flex sM0-f-radius">
  <!-- 1st Column Holder { Assign User } -->
  <div class="col-4 p-0">
    <p class="m-0 sM0-fs-16 sM0-text-0-cr d-flex align-items-center">
      <i class="sM0-icon-d sM0-bg-opacity-green-25 rounded-circle p-4 OM-icon-plus sM0-bg-imgs-center mr-2"></i>Assign User
    </p>
  </div>
  <!-- 2st Column Holder { Button } -->
  <div class="col-4 p-0 d-flex justify-content-center align-items-center">
    <button class="sM0-btn-w-160 sM0-text-0-cr sM0-fs-12 sM0-f-radius d-flex align-items-center justify-content-center btn sM0-supp-0-bg">
      <i class="sM0-icon-d OM-icon-inprogress m-3~ sM0-bg-imgs-center mr-3"></i>In-Progress
    </button>
  </div>
  <!-- 3st Column Holder { Timer } -->
  <div class="col-4 d-flex p-0 align-items-center">
    <div class="w-100 d-flex justify-content-end">
      <p class="m-0 sM0-fs-16 sM0-text-0-cr d-flex flex-column align-items-center">
        <i class="sM0-icon-d sM0-f-radius OM-icon-plus sM0-bg-imgs-center"></i>00 : 00
      </p>
    </div>
    <div class="w-100 d-flex justify-content-end">
    <p class="m-0 sM0-fs-16 sM0-text-0-cr d-flex flex-column align-items-center">
      <i class="sM0-icon-d sM0-f-radius OM-icon-plus sM0-bg-imgs-center"></i>00 : 00
      </p>
    </div>
  </div>
</div>