<div class='container-fluid h-100'>
  <div class='row~ d-flex align-items-center h-100'>
    <div class='col-m-1 mr-3'>
      <!-- open Menu -->
      <i #sideMenuOpenBTN data-toggle='false' (click)="openSideMenu.emit(sideMenuOpenBTN)"
        class='M0-open-menu-icon sM0-icon-b sM0-bg-imgs-center d-lg-none d-block M0-side-open position-relative'></i>
    </div>
    <!-- -----------------------------------------------Search Bar -->
    <div class="OM-Holder-search-w d-flex m-0">
      <button class="sM0-btn-w-50 sM0-text-0-cr sM0-fs-15 sM0-border-none sM0-smoke-bg sM0-t-l-radius btn d-flex align-items-center justify-content-end p-0">
        <i class="d-inline-block sM0-icon-c OM-search-icon sM0-bg-imgs-center"></i>
      </button>
      <input class="w-100 sM0-smoke-bg sM0-text-0-cr sM0-r-b-radius py-3 pl-3 sM0-border-none" type="search" placeholder="Search...">
    </div>
    <!-- ------------------------------------------------Status -->
    <div class="col-5~ d-flex flex-nowrap mx-4 pr-5~">
      <!-- In-Progress Tasks Filter -->
      <button
        class="sM0-btn-w-160 sM0-text-0-cr sM0-fs-15 sM0-smoke-bg sM0-f-radius btn mx-3 d-flex flex-nowrap align-items-center justify-content-center sM0-bg-opacity-gold-25 py-3">
        <i class="d-inline-block sM0-icon-c OM-img-progress sM0-bg-imgs-center mr-2"></i>
        <p class="m-0">In-Progress</p>
      </button>
      <!-- Assign Tasks Filter -->
      <button class="sM0-btn-w-160 sM0-text-0-cr sM0-fs-15 sM0-smoke-bg sM0-f-radius btn mx-3 d-flex flex-nowrap align-items-center
      justify-content-center sM0-bg-opacity-green-25 py-3">
        <i class="d-inline-block sM0-icon-c OM-img-Plus sM0-bg-imgs-center mr-2"></i>
        <p class="m-0">Asign Task</p>
      </button>
      <!-- Report Tasks Filter -->
      <button
        class="sM0-btn-w-160 sM0-text-0-cr sM0-fs-15 sM0-smoke-bg sM0-f-radius btn mx-3 mr-5 d-flex flex-nowrap align-items-center justify-content-center sM0-bg-opacity-red-25 py-3">
        <i class="d-inline-block sM0-icon-c OM-img-Exclamation sM0-bg-imgs-center mr-2"></i>
        <p class="m-0">Report</p>
      </button>
    </div>
    <!-- -------------------------------------------------Notifi  -->
    <div class="col-2~ d-flex sM0-f-radius mr-3">
      <button
        class="sM0-smoke-bg sM0-text-0-cr sM0-fs-15 sM0-smoke-bg sM0-f-radius btn sM0-btn-w-120 d-flex justify-content-center py-3 ml-5">
        <i class="d-inline-block sM0-icon-c OM-notifi-icon sM0-bg-imgs-center"></i>
      </button>
    </div>
  </div>
</div>