<!-- Navigation Bar -->
<div class="container-fluid sM0-supp-1-bg py-1 mb-5">
  <div class="row ">
      <div class="col">
          <div class="container sM0-supp-1-bg">
              <div class="col d-flex inline-flex justify-content-end">
                  <img class="OM-Border-Reduis-imgs OM-img-src " width="66" height="66"/>
                  <div class="d-flex align-items-center flex-wrap">
                      <p class="sM0-main-cr my-0 ml-4">Username</p>
                      <p class="sM0-main-cr my-0 ml-4">Project Maneger</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>