<div class='sM0-supp-1-bg w-100 h-100 sM0-t-l-radius d-flex flex-column align-items-center OM-scroller'>
    <!-- property image -->
    <div class="OM-img-src sM0-bg-imgs-center sM0-t-radius d-flex justify-content-end d-inline-block w-100">
        <!-- property image -->
        <i class='w-100 h-100 OM-property-img'></i>
    </div>
    <!-- Details -->
    <div class='d-flex flex-column justify-content-center w-100 py-4 px-4'>
        <!-- Card name -->
        <p class=" sM0-text-0-cr sM0-fs-b-16 pb-2 m-0 text-center">Buy Apartment Luxury...</p>
        <!-- user -->
        <p class="sM0-main-cr d-inline-block sM0-fs-16 pb-2 text-center m-0">Agent Name, Agency Name</p>
        <!-- Location -->
        <div class="d-flex justify-content-center align-items-center pb-2">
            <i class="OM-img-Locationgold sM0-icon-d sM0-bg-imgs-center"></i>
            <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center sM0-fs-16">Cairo, Maadi</p>
        </div>
        <!-- Call Agent -->
        <button
            class="btn sM0-btn-w-160 d-flex m-auto justify-content-center align-items-center sM0-f-radius sM0-bg-opacity-green-25 px-3 py-2">
            <i class="OM-img-call sM0-icon-d sM0-bg-imgs-center mr-3"></i>
            <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-12">Call Agent</p>
        </button>
    </div>
    <!-- Account Manager -->
    <div class="d-flex sM0-bg-opacity-white-5 w-100 px-4 py-2">
        <div class='d-flex mr-2'>
            <i class="d-inline-block Mo-acc-manager-img sM0-bg-imgs-center rounded-circle d-inline-block sM0-img-e bg-warning"></i>
        </div>
        <div class='d-flex flex-column justify-content-center'>
            <p class="mb-0 sM0-fs-16 sM0-main-cr">Account Manager Name </p>
            <p class="mb-0 sM0-fs-12 ml-2 sM0-text-0-cr">Account Manager</p>
        </div>
    </div>
    <!-- Time Tracker Section -->
    <div class="w-100 p-4 h-100 d-flex flex-column justify-content-around text-center">
        <!-- Task Tracker -->
        <div class="d-flex flex-column">
            <div class='d-flex w-100 justify-content-center'>
                <!-- hr -->
                <div class="M0-hr mx-3">
                    <hr class="sM0-f-radius sM0-bg-opacity-white-5 sM0-border-3 w-100">
                </div>
                <!-- text -->
                <div class=" d-flex align-items-center justify-content-center ">
                    <i class="OM-img-Locationgold d-inline-block sM0-icon-c sM0-bg-imgs-center"></i>
                    <p class="mb-0 d-inline-block sM0-text-0-cr sM0-fs-16 ">Task Tracker</p>
                </div>
                <!-- hr -->
                <div class="M0-hr mx-3">
                    <hr class="sM0-f-radius sM0-border-3 w-100">
                </div>
            </div>
            <!-- Timer -->
            <p class="sM0-text-0-cr sM0-font-clock sM0-fs-b-24 pt-2">0 0 : 0 0</p>
        </div>
        <!-- Deadline Timer -->
        <div>
            <!-- start Time -->
            <div class="d-flex align-items-center justify-content-center ">
                <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center"></i>
                <p class="mb-0 sM0-text-0-cr sM0-fs-16">1 / 12 / 2020</p>
            </div>
            <!-- end times -->
            <div class=" pt-2 d-flex align-items-center justify-content-center ">
                <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center"></i>
                <p class="mb-0 sM0-text-0-cr sM0-fs-16">1 / 20 / 2020</p>
            </div>
        </div>
        <!-- Progress Bar -->
        <div class="progress sM0-f-radius sM0-supp-0-bg">
            <div class="progress-bar sM0-smoke-bg d-flex align-items-end px-2 sM0-f-radius" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                0%
            </div>
        </div>
    </div>