<div class='sM0-supp-1-bg w-100 h-100 sM0-t-l-radius d-flex flex-column align-items-center OM-scroller'>
    <!-- property image -->
    <div class="sM0-bg-imgs-center sM0-t-radius d-flex justify-content-end d-inline-block w-100" [ngStyle]="{'background-image' : 'url('+ taskDetailsService.taskDetails?.images +')'}">
        <!-- property image -->
        <i class='w-100 h-100 OM-property-img'></i>
    </div>
    <!-- Details -->
    <div class='d-flex flex-column justify-content-center w-100 py-4 px-4'>
        <!-- Card name -->
        <p class=" sM0-text-0-cr sM0-fs-b-16 pb-2 m-0 text-center">{{taskDetailsService.taskDetails?.description.title| slice:0:25}}  ...</p>
        <!-- user -->
        <p class="sM0-main-cr d-inline-block sM0-fs-16 pb-2 text-center m-0">{{taskDetailsService.taskDetails?.agent_name}}, {{taskDetailsService.taskDetails?.agency_name}}</p>
        <!-- Location -->
        <div class="d-flex justify-content-center align-items-center pb-2">
            <i class="OM-img-Locationgold sM0-icon-d sM0-bg-imgs-center"></i>
            <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center sM0-fs-16">{{taskDetailsService.taskDetails?.location?.city}}</p>
        </div>
        <!-- Property Status -->
        <div [class.sM0-bg-opacity-gold-5]='taskDetailsService.taskDetails?.post_status == "pending"'
            [class.sM0-bg-opacity-green-5]='taskDetailsService.taskDetails?.post_status == "publish"'
            class=" d-flex mx-auto justify-content-center align-items-center sM0-f-radius sM0-bg-opacity-green-25 px-3 py-1">
            <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-12">{{taskDetailsService.taskDetails?.post_status}} <span
                    class='bg-white sM0-text-1-cr sM0-fs-10 sM0-f-radius px-2 ml-4 py-1'>{{taskDetailsService.taskDetails?.id}}</span>
            </p>
        </div>
        <!-- Property Category -->
        <div class="sM0-text-0-cr sM0-f-radius d-flex justify-content-center align-items-center mt-2">
            <p [class.sM0-bg-opacity-gold-5]='taskDetailsService.taskDetails?.post_status == "pending"'
                [class.sM0-bg-opacity-green-5]='taskDetailsService.taskDetails?.post_status == "publish"'
                class="m-0 ml-2 px-3 py-1 sM0-fs-10 sM0-text-0-cr sM0-f-radius ">{{taskDetailsService.taskDetails?.description?.category}}
                <span
                    class='sM0-supp-1-bg sM0-text-0-cr sM0-fs-10 sM0-f-radius px-2 ml-2 py-1'>{{taskDetailsService.taskDetails?.description?.type}}</span>
            </p>
        </div>
        <!-- Call Agent -->
        <button data-container="body" data-toggle="popover" data-placement="bottom" [attr.data-content]="taskDetailsService?.taskDetails?.agent_phone"
            class="mt-2 btn sM0-btn-w-160 d-flex mx-auto justify-content-center align-items-center sM0-f-radius sM0-bg-opacity-green-25 px-3 py-2">
            <i class="OM-img-call sM0-icon-d sM0-bg-imgs-center mr-3"></i>
            <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-12">Call Agent</p>
        </button>
    </div>
    <!-- Account Manager -->
    <ng-container *ngFor='let user of taskDetailsService.assignedUsers'>
        <div *ngIf='user.role_id == 3' class="d-flex sM0-bg-opacity-white-5 w-100 px-4 py-2">
            <div class='d-flex mr-2'>
                <i [ngStyle]="{'background-image' : 'url('+ imageBaseURL + user.image +')'}"
                 class="d-inline-block sM0-bg-imgs-center rounded-circle d-inline-block sM0-img-e"
                 ></i>
            </div>
            <div class='d-flex flex-column justify-content-center'>
                <p class="mb-1 sM0-fs-16 sM0-main-cr">{{user.name}}</p>
                <p class="mb-0 sM0-fs-12 ml-2~ sM0-text-0-cr m-0 d-flex align-items-center">
                <i [class.iM0-icon-accountManger-white]="user?.role_id == 3" class="sM0-icon-e sM0-bg-imgs-center mb-1 mr-1"></i>
                    {{user.role_name}}</p>
            </div>
        </div>
    </ng-container>
    <!-- Time Tracker Section -->
    <div class="w-100 p-4 h-100 d-flex flex-column justify-content-around text-center">
        <!-- Task Tracker -->
        <div class="d-flex flex-column">
            <div class='d-flex w-100 justify-content-center'>
                <!-- hr -->
                <div class="M0-hr mr-3">
                    <hr class="sM0-f-radius sM0-bg-opacity-white-5 sM0-border-3 w-100">
                </div>
                <!-- text -->
                <div class=" d-flex align-items-center justify-content-center ">
                    <p class="mb-0 d-flex sM0-text-0-cr sM0-fs-16 ">
                    <i class="OM-img-alarmwhite mr-2 sM0-icon-d sM0-bg-imgs-center"></i>
                        Task Tracker</p>
                </div>
                <!-- hr -->
                <div class="M0-hr ml-3">
                    <hr class="sM0-f-radius sM0-border-3 w-100">
                </div>
            </div>
            <!-- Timer -->
            <p class="sM0-text-0-cr sM0-font-clock sM0-fs-b-24 pt-2 m-0">0 0 : 0 0</p>
        </div>
        <!-- Deadline Timer -->
        <!-- <div> -->
            <!-- start Time -->
            <!-- <div class="d-flex align-items-center justify-content-center ">
                <i class="OM-img-flagwhite mr-2 sM0-icon-d sM0-bg-imgs-center"></i>
                <p class="mb-0 sM0-text-0-cr sM0-fs-16">1 / 12 / 2020</p>
            </div> -->
            <!-- end times -->
            <!-- <div class=" pt-2 d-flex align-items-center justify-content-center ">
                <i class="OM-img-bedred mr-2 sM0-icon-d sM0-bg-imgs-center"></i>
                <p class="mb-0 sM0-text-0-cr sM0-fs-16">1 / 20 / 2020</p>
            </div> -->
        <!-- </div> -->
        <!-- Completed button -->
        <ng-container *ngIf='authService?.user?.data && taskDetailsService.taskDetails?.tasks_status'>
            <button (click)='taskDetailsService.taskDetails?.tasks_status != 4 ? changeUserTaskStatus(taskDetailsService.propID, 4) : changeUserTaskStatus(taskDetailsService.propID, 2)'
            *ngIf='authService?.user?.data?.role_id != 1'
                [class.sM0-bg-opacity-green-25]='taskDetailsService.taskDetails?.tasks_status == 4'
                [class.sM0-smoke-bg]='taskDetailsService.taskDetails?.tasks_status != 4'
                class="btn sM0-btn-w-160 d-flex mx-auto justify-content-center align-items-center sM0-f-radius  px-3 py-2">
                <!-- sM0-bg-opacity-green-25 -->
                <i *ngIf='taskDetailsService.taskDetails?.tasks_status == 4' class="iM0-icon-right-green sM0-icon-d sM0-bg-imgs-center mr-3"></i>
                <p *ngIf='taskDetailsService.taskDetails?.tasks_status == 4' class="sM0-green-cr d-inline-block mb-0 sM0-fs-12">Complete</p>
                <i *ngIf='taskDetailsService.taskDetails?.tasks_status != 4' class="OM-img-rightwhite sM0-icon-d sM0-bg-imgs-center mr-3"></i>
                <p *ngIf='taskDetailsService.taskDetails?.tasks_status != 4' class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-12">Complete</p>
            </button>
            <button
                disabled
                *ngIf='authService?.user?.data?.role_id == 1'
                class="btn sM0-btn-w-160 d-flex mx-auto justify-content-center align-items-center sM0-f-radius sM0-smoke-bg px-3 py-2">
                <i class="OM-img-upload sM0-icon-d sM0-bg-imgs-center mr-3"></i>
                <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-12">Publish</p>
            </button>
        </ng-container>
        <!-- Progress Bar -->
        <div class="progress sM0-f-radius sM0-supp-0-bg">
            <div class="progress-bar sM0-smoke-bg d-flex align-items-end px-2 sM0-f-radius" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                0%
            </div>
        </div>
    </div>