.OM-img-profile {
  background-image: url("/assets/Profile/profile1.jpg");
  border: 3px solid #e9c46a;
}
.OM-img-src {
  background-image: url("/assets/Home/Home.jpg");
}
.OM-img-Locationgold {
  background-image: url("/assets/Icons/Locationgold.svg");
}
.OM-img-call {
  background-image: url("/assets/Icons/Call.svg");
}
.OM-scroller {
  overflow-y: auto !important;
}
.OM-property-img {
  min-height: 150px !important;
  max-height: 150px !important;
}
