.OM-img-src {
  background-image: url("/assets/Home/Home.jpg");
}
.OM-img-Locationgold {
  background-image: url("/assets/Icons/Locationgold.svg");
}
.OM-img-call {
  background-image: url("/assets/Icons/Call.svg");
}
.OM-scroller {
  overflow-y: auto !important;
}
