<div class='row flex-wrap mx-0 p-0 h-100 sM0-supp-0-bg sM0-f-radius'>
    <!-- Task Side Data -->
    <div class="M0-mini-container-side-data h-100">
        <div class='sM0-supp-1-bg w-100 h-100 sM0-t-l-radius d-flex flex-column align-items-center'>
            <!-- Image Profile -->
            <div
                class="OM-img-src sM0-bg-imgs-center sM0-img-a sM0-t-radius mb-4 d-flex justify-content-end w-100 position-relative">
            </div>
            <!-- Card name -->
            <p class=" sM0-text-0-cr mb-2 h5 text-center">Buy Apartment Luxury...</p>
            <!-- user -->
            <div class="d-flex justify-content-center pb-2">
                <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center">Agent Name, Agency Name</p>
            </div>
            <!-- Location -->
            <div class="d-flex justify-content-center pb-2">
                <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center"></i>
                <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center">Cairo, Maadi</p>
            </div>
            <!-- Inprogress Task -->
            <div class='pb-3'>
                <button
                    class="btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-bg-opacity-green-25 px-3 py-2">
                    <i class="OM-img-call sM0-icon-c sM0-bg-imgs-center mr-2"></i>
                    <p class="sM0-text-0-cr d-inline-block mb-0">Assign Task</p>
                </button>
            </div>
            <!-- Progress Bar -->
            <div class="progress w-75 sM0-f-radius sM0-supp-1-bg">
                <div class="progress-bar sM0-smoke-bg d-flex align-items-end px-2 sM0-f-radius" role="progressbar"
                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    0%
                </div>
            </div>
            <!-- inner ICONS -->
            <div class="w-75 d-flex justify-content-end pt-3">
                <i class="OM-img-list sM0-icon-e sM0-bg-imgs-center d-inline-block "></i>
                <i class="OM-img-attachment sM0-icon-e sM0-bg-imgs-center d-inline-block ml-2"></i>
                <i class="OM-img-comment sM0-icon-e sM0-bg-imgs-center d-inline-block ml-2"></i>
            </div>
        </div>
    </div>