<div class="row align-items-center justify-content-center overflow-auto h-100 pr-4">
    <form class='w-100 d-flex flex-wrap justify-content-center' #mediaForm="ngForm" (ngSubmit)="mediaForm.valid && onSubmit(mediaForm)">
        <div class="overflow-auto w-100 mb-4">
            <div class="d-flex M0-mini-card mb-4 w-100">
                <!-- Upload Image Card -->
                <div class='M0-mini-card d-inline-block pr-4 mb-4'>
                    <div class='w-100 h-100 sM0-f-radius-dotted d-flex flex-column align-items-center justify-content-center'>
                        <i class="OM-img-uploadimage-green sM0-icon-c sM0-bg-imgs-center mb-2"></i>
                        <p class="mb-2 sM0-main-cr sM0-fs-b-16 ">Upload Image</p>
                        <p class="mb-0 sM0-text-0-cr sM0-fs-10">Can Upload Multiple Files (jpg,png,...)</p>
                    </div>
                </div>
                <!-- Proparty Card -->
                <div class='M0-mini-card d-inline-block  pr-4 mb-4 ' *ngFor="let image of taskDetailsService.taskDetails?.media.media_images">
                    <!-- Image Holder -->
                    <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius' >
                        <!-- Proparty Image -->
                        <div class="OM-img-src sM0-bg-imgs-center sM0-f-radius h-100 w-100 d-flex align-items-end justify-content-center pb-3"
                        [ngStyle]="{'background-image' : 'url('+ image +')'}">
                            <!-- Icon Holder -->
                            <div class="sM0-smoke-bg d-flex sM0-f-radius">
                                <!-- Edit Icon -->
                                <div class="sM0-bg-opacity-white-25 sM0-f-radius p-2">
                                    <i class="d-block OM-img-edit sM0-icon-d sM0-bg-imgs-center"></i>
                                </div>
                                <!-- Star Icon -->
                                <div class="sM0-bg-opacity-gold-25 sM0-f-radius p-2 mx-3">
                                    <i class="d-block OM-img-star sM0-icon-d sM0-bg-imgs-center"></i>
                                </div>
                                <!-- Trash Icon -->
                                <div class="sM0-bg-opacity-red-25 sM0-f-radius p-2">
                                    <i class="d-block OM-img-trash sM0-icon-d sM0-bg-imgs-center"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
`            </div>
        </div>
        <!-- Property Video Row -->
        <div class="M0-micro-card d-flex sM0-bg-opacity-supp-1-5 sM0-f-radius mb-4 w-100 p-4 ">
            <!-- Holder Image Icon -->
            <div
                class="sM0-img-aa OM-img-src sM0-bg-imgs-center h-100 sM0-f-radius d-flex justify-content-center align-items-center ">
                <i class="OM-img-play p-3 sM0-bg-opacity-red-5 sM0-circle-border sM0-bg-imgs-center sM0-icon-d"></i>
            </div>
            <!-- HTTP Input -->
            <div class="w-100 px-3 d-flex flex-column justify-content-center">
                <p class="sM0-text-0-cr sM0-fs-b-16">Property Video</p>
                <div class="d-flex w-100">
                    <div
                        class='sM0-supp-0-bg sM0-t-l-radius sM0-inp-icon-holder-a d-flex justify-content-center align-items-center'>
                        <i class="OM-img-youtube sM0-icon-c"></i>
                    </div>
                    <div class="w-100 p-0">
                        <input ngModel name="embed_Video_id" required [(ngModel)]="taskDetailsService.taskDetails?.media.embed_Video_id" type="text" placeholder="Youtube Video ID..."
                            class="sM0-fs-mid-b-12 sM0-r-b-radius px-4 w-100 h-100 sM0-supp-1-bg sM0-text-0-cr">
                    </div>
                </div>
            </div>
            <!-- Holder Icons -->
            <div class="sM0-bg-opacity-green-25~ p-4 h-100 sM0-f-radius d-flex flex-column justify-content-between">
            </div>
        </div>
        <!-- Virtual Tour Row -->
        <div class="M0-micro-card d-flex sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4 mb-4">
            <!-- Holder Image Icon -->
            <div class="sM0-img-aa OM-img-src sM0-bg-imgs-center bg-danger h-100 sM0-f-radius">
            </div>
            <!-- HTTP Input -->
            <div class="w-100 px-4 d-flex flex-column justify-content-center">
                <p class="sM0-text-0-cr sM0-fs-b-16">Virtual Tour</p>
                <div class="d-flex w-100">
                    <div
                        class='py-4 sM0-bg-opacity-green-5 sM0-t-l-radius sM0-inp-icon-holder-a d-flex justify-content-center align-items-center'>
                        <i class="OM-img-link sM0-icon-d"></i>
                    </div>
                    <div class="w-100">
                        <input ngModel name="virtual_tour" required [(ngModel)]="taskDetailsService.taskDetails?.media.virtual_tour"  type="text" placeholder="URL..."
                            class="sM0-fs-mid-b-12 sM0-r-b-radius px-4 w-100 h-100 sM0-bg-opacity-green-25 sM0-text-0-cr">
                    </div>
                </div>
            </div>
            <!-- Holder Icons -->
            <div class="sM0-bg-opacity-green-25 h-100 sM0-f-radius d-flex flex-column justify-content-between">
                <i class="OM-img-profile sM0-img-d p-4  sM0-circle-border sM0-bg-imgs-center"></i>
                <i class="OM-img-profile sM0-img-d p-4  sM0-circle-border sM0-bg-imgs-center"></i>
            </div>
        </div>
        <!-- Button Save -->
        <div class="w-25 ml-auto">
            <button class="sM0-f-radius sM0-inp-h-49 w-100 sM0-main-bg sM0-border-none" [disabled]='mediaForm.invalid'
                [class.sM0-notActive]='mediaForm.invalid'>
                <p class="mb-0 m-auto sM0-text-0-cr sM0-fs-b-16">Save</p>
            </button>
        </div>
    </form>         
</div>