<div class="row justify-content-center overflow-auto h-100">
    <!-- Add Panel -->
    <div class='w-100'>
        <div class="M0-micro-card sM0-f-radius-dotted sM0-bg-opacity-supp-1-5~ sM0-f-radius w-100 p-3">
            <div class="h-100 sM0-bg-opacity-green-25 sM0-f-radius d-flex justify-content-center align-items-center">
                <div
                    class="sM0-img-c sM0-bg-opacity-green-90 sM0-circle-border d-flex justify-content-center align-items-center">
                    <i class="OM-img-plusblack sM0-icon-c"></i>
                </div>
            </div>
        </div>
        <!-- Start Divided -->
        <div class="pb-4"></div>
        <!-- End Divided -->
    
        <div class="M0-micro-card d-flex sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
            <!-- Holder Image Icon -->
            <div class="sM0-img-aa OM-img-src sM0-bg-imgs-center bg-danger h-100 sM0-f-radius">
            </div>
            <!-- HTTP Input -->
            <div class="w-100 px-3 d-flex flex-column justify-content-center">
                <p class="sM0-text-0-cr sM0-fs-16">Property Image Name</p>
                <div class="d-flex w-100">
                    <div
                        class='sM0-supp-0-bg sM0-t-l-radius sM0-inp-icon-holder-a d-flex justify-content-center align-items-center'>
                        <i class="OM-img-plus sM0-icon-c"></i>
                    </div>
                    <div class="col~ w-100 p-0">
                        <input type="text" placeholder="https://deal360.ae"
                            class="sM0-r-b-radius pl-4 w-100 h-100 sM0-supp-1-bg">
                    </div>
                </div>
            </div>
            <!-- Holder Icons -->
            <div class="sM0-bg-opacity-green-25 h-100 sM0-f-radius d-flex flex-column justify-content-between">
                <i class="OM-img-profile sM0-img-d p-4  sM0-circle-border sM0-bg-imgs-center"></i>
                <i
                    class="OM-img-rightgreen p-4 sM0-bg-opacity-green-25 sM0-circle-border sM0-bg-imgs-center sM0-icon-d"></i>
            </div>
        </div>
        <!-- Start Divided -->
        <div class="pb-4"></div>
        <!-- End Divided -->
        <div class="M0-micro-card d-flex sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
            <!-- Holder Image Icon -->
            <div class="sM0-img-aa sM0-supp-0-bg h-100 sM0-f-radius d-flex justify-content-center align-items-center">
                <i class="OM-img-uploadimage sM0-icon-c sM0-bg-imgs-center mb-2"></i>
            </div>
            <!-- HTTP Input -->
            <div class="w-100 px-3 d-flex flex-column justify-content-center">
                <p class="sM0-text-0-cr sM0-opacity-50 sM0-fs-16">Property Image Name</p>
                <div class="d-flex w-100">
                    <div
                        class='sM0-supp-0-bg sM0-t-l-radius sM0-inp-icon-holder-a d-flex justify-content-center align-items-center'>
                        <i class="OM-img-plus sM0-icon-c"></i>
                    </div>
                    <div class="col~ w-100 p-0">
                        <input type="text" placeholder="URL..." class="sM0-r-b-radius pl-4 w-100 h-100 sM0-supp-1-bg">
                    </div>
                </div>
            </div>
            <!-- Holder Icons -->
            <i class="OM-img-rightwhite p-4 sM0-bg-opacity-white-25 sM0-circle-border sM0-bg-imgs-center sM0-icon-d"></i>
        </div>
    
    </div>
</div>