@import "../task-details.component.css";
.OM-icon-Holder-Delete {
  position: absolute;
  /* top: calc(0% - 14px);
  left: calc(0% - 13px); */
  top: -14px;
  left: -13px;
}
.OM-img-deletered {
  background-image: url("/assets/Icons/Deletered.svg");
}
