@import "../task-details.component.css";
.OM-icon-Holder-Delete {
  /* top: calc(0% - 14px);
  left: calc(0% - 13px); */
  top: 0px;
  left: 0;
}
.OM-img-deletered {
  background-image: url("/assets/Icons/Deletered.svg");
}
