.M0-side-menu{
    min-width: 280px !important;
    max-width: 280px !important;
    width: 280px !important;
}
.M0-navBar{
    min-height: 120px;
    max-height: 120px;
}
.M0-controller{
    min-height: 60px;
    max-height: 60px;
}
.M0-content-holder{
    overflow: auto;
    height: calc(100% - 180px - 1.5rem);
}
.M0-card{
    height: 385px;
}