<div id='masterContainer' class='container-fluid py-4 pr-4 pl-0'>
    <div class='row h-100 m-0'>
        <!-- under SideMenu -->
        <div class='col-1 d-none d-lg-block d-xl-none'></div>
        <!-- sideMenu Larg -->
        <div id='sideMenuMainHolder' class='M0-side-menu-holder col-xl-2 col-3 d-lg-block d-none pl-4 sM0-t2'>
            <div class='row h-100 ml-0'>
                <div class='col sM0-supp-1-bg sM0-f-radius p-0 h-100'>
                    <!-- Side Menu Component -->
                    <app-side-menu (toggelSideMenu)="toggelSideMenu($event, 'sideMenuMainHolder')" (openSideMenu)="openMenu($event, 'sideMenuMainHolder')"></app-side-menu>
                </div>
            </div>
        </div>
        <!-- sideMenu Small (form Mobile) -->
        <div id='sideMenuMainHolderMob' class='M0-side-menu-holder M0-side-menu-mobile col-md-1 col-3 d-lg-none d-none pl-4 sM0-t2'>
            <div class='row h-100 ml-0'>
                <div class='col sM0-supp-1-bg sM0-f-radius p-0 h-100'>
                    <!-- Side Menu Component -->
                    <app-side-menu></app-side-menu>
                </div>
            </div>
        </div>
        <!-- content -->
        <div class='col pl-4 h-100'>
            <!-- Nav & controller -->
            <div class='container-fluid p-0 m-0'>
                <!-- navBar -->
                <div class='row sM0-supp-1-bg sM0-f-radius M0-navBar ml-0'>
                    <div class='col'>
                        <app-nav-bar (openSideMenu)="openMobileMenu($event, 'sideMenuMainHolderMob')"></app-nav-bar>
                    </div>
                </div>
                <!-- controller -->
                <div class='row M0-controller ml-0 px-md-5 px-4'>
                    <div class='col sM0-supp-0-bg sM0-b-l-radius'></div>
                </div>
            </div>
            <!-- content Holder -->
            <div class='container-fluid p-0 M0-content-holder mt-4'>
                <!-- Content Holder -->
                <div class='row m-0 h-100 justify-content-center'>
                    <!-- divider -->
                    <!-- <div class='col d-md-block d-none'></div> -->
                    <div class='col-md-10 col-lg-11 col pr-0 h-100 M0-content-container'>
                        <!-- Content -->
                        <!-- Cards -->
                        <router-outlet></router-outlet>
                        <!-- <div class='container-fluid pr-0 m-0 h-100 M0-cards-holder'>
                            <div class='row mx-0 mt-0'>
                                <div class='col-xl-3 col-lg-4 col-sm-6 pl-0  M0-card  pr-4 mb-4'>
                                    <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius'></div>
                                </div>
                                <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
                                    <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius'></div>
                                </div>
                                <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
                                    <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius'></div>
                                </div>
                                <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
                                    <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius'></div>
                                </div>
                                <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
                                    <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius'></div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- divider -->
                    <!-- <div class='col d-md-block d-none'></div> -->
                </div>
            </div>
        </div>
    </div>
</div>