<div  class='row justify-content-center mb-4'>
    <form class='w-100' #descriptionForm="ngForm" (ngSubmit)="descriptionForm.valid && onSubmit(descriptionForm)" >
        <!-- 1st Row -->
        <!-- User Name Input -->
        <div>
        <div class="d-flex mb-4 sM0-inp-h-49">
            <!-- Icon Holder -->
            <div class='sM0-smoke-bg sM0-t-l-radius px-4 d-flex align-items-center'>
                <i class="OM-img-inprogress sM0-icon-d d-block"></i>
            </div>
            <!-- Input Field -->
            <div class="w-100">
                <input ngModel name="title" required [(ngModel)]="taskDetailsService.taskDetails?.description.title"
                    type="text" placeholder="Property Name..."
                    class="sM0-text-0-cr sM0-fs-16 pl-4 h-100 w-100 sM0-supp-1-bg sM0-r-b-radius">
            </div>
        </div>
        <!-- 2nd Row -->
        <div class="d-flex mb-4 sM0-inp-h-49">
            <!-- Price input -->
            <div class="w-100 d-flex">
                <!-- Icon Holder -->
                <div class='sM0-smoke-bg sM0-t-l-radius px-4 d-flex align-items-center'>
                    <i class="OM-icon-price sM0-icon-d d-block"></i>
                </div>
                <!-- Input Field -->
                <div class="w-100">
                    <input ngModel name="price" required [(ngModel)]="taskDetailsService.taskDetails?.description.price"
                        type="text" placeholder="Price..." class="sM0-text-0-cr sM0-fs-16 pl-4 h-100 w-100 sM0-supp-1-bg sM0-r-b-radius">
                </div>
            </div>
            <!-- ? Start Divider -->
            <div class="px-3"></div>
            <!-- ? End Divider -->
            <!-- ? Status -->
            <div class="w-100 d-flex">
                <!-- Icon Holder -->
                <div class='sM0-smoke-bg sM0-t-l-radius px-4 d-flex align-items-center'>
                    <i class="OM-icon-fire sM0-icon-d d-block"></i>
                </div>
                <!-- Select Input -->
                <div class='w-100 p-0'>
                    <select ngModel name='status' #status="ngModel" [(ngModel)]='taskDetailsService.taskDetails?.description.status' required class='pl-4 h-100 sM0-text-0-cr sM0-supp-1-bg sM0-r-b-radius w-100 sM0-border-none'>
                        <option [value]="desc.name" [selected]='taskDetailsService.taskDetails?.description?.status == desc?.name' *ngFor="let desc of taskDetailsService.propStaticData?.property_status">
                            {{desc.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- 3rd Row -->
        <div class="d-flex mb-4 sM0-inp-h-49">
            <!-- ? Category -->
            <div class="w-100 d-flex">
                <!-- Icon Holder -->
                <div class='sM0-smoke-bg sM0-t-l-radius px-4 d-flex align-items-center'>
                    <i class="OM-icon-home sM0-icon-d d-block"></i>
                </div>
                <!-- Select Input -->
                <div class='w-100'>
                    <select ngModel name='category' #category="ngModel" [(ngModel)]='taskDetailsService.taskDetails?.description.category'
                        required class='pl-4 h-100 sM0-text-0-cr sM0-supp-1-bg sM0-r-b-radius w-100 sM0-border-none'>
                        <option [value]="desc.name" [selected]='taskDetailsService.taskDetails?.description?.category == desc?.name'
                            *ngFor="let desc of taskDetailsService.propStaticData?.property_category">
                            {{desc.name}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- ? Start Divider -->
            <div class="px-3"></div>
            <!-- ? End Divider -->
            <!-- ? Listed In -->
            <div class="w-100 d-flex">
                <!-- Icon Holder -->
                <div class='sM0-smoke-bg sM0-t-l-radius px-4 d-flex align-items-center'>
                    <i class="OM-icon-rent sM0-icon-d d-block"></i>
                </div>
                <!-- Select Input -->
                <div class='w-100'>
                    <select ngModel name='type' #type="ngModel" [(ngModel)]='taskDetailsService.taskDetails?.description.type'
                        required class='pl-4 h-100 sM0-text-0-cr sM0-supp-1-bg sM0-r-b-radius w-100 sM0-border-none'>
                        <option [value]="desc.name" [selected]='taskDetailsService.taskDetails?.description?.type == desc?.name'
                            *ngFor="let desc of taskDetailsService.propStaticData?.property_action_category">
                            {{desc.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        </div>
        <!-- Textarea Description -->
        <div class="sM0-inp-description-holder-a d-flex mb-4">
            <!-- Icon Holder -->
            <div class='sM0-smoke-bg d-flex align-items-center sM0-t-l-radius p-4 h-100'>
                <i class="OM-img-inprogress sM0-icon-d d-block"></i>
            </div>
            <!-- Input Field -->
            <div class="w-100">
                <div class="w-100~ h-25 d-flex align-items-center sM0-bg-opacity-gray-5 sM0-r-radius pl-4">
                    <i class="OM-icon-bold sM0-icon-c mr-4 sM0-click"></i>
                    <i class="OM-icon-italic sM0-icon-c mr-4 sM0-click"></i>
                    <i class="OM-icon-textlist sM0-icon-c mr-4 sM0-click"></i>
                    <i class="OM-icon-listnumber sM0-icon-c sM0-click"></i>
                </div>
                <div class="w-100 h-75">
                    <textarea
                     ngModel name="description" required [(ngModel)]="taskDetailsService.taskDetails?.description.description"
                     type="text" placeholder="Description..."
                        class="pl-4 h-100 w-100 sM0-supp-1-bg sM0-b-radius sM0-text-0-cr sM0-border-none p-4">
                    </textarea>
                </div>
            </div>
        </div>
        <!-- Button Save -->
        <div class="d-flex justify-content-end sM0-inp-h-49">
            <button type="submit" [disabled]='descriptionForm.invalid' [class.sM0-notActive]='descriptionForm.invalid'
                class="sM0-f-radius w-25 sM0-main-bg sM0-border-none">
                <p class="mb-0 sM0-text-0-cr sM0-fs-b-16">Save</p>
                <!-- <i class="OM-icon-arrowout sM0-icon-d"></i> -->
            </button>
        </div>
    </form>
</div>