<!--  Modal  -->
<div class="modal fade mx-auto" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
        <div class="modal-content border-0 sM0-supp-0-bg sM0-popup-w sM0-f-radius overflow-hidden">
            <!-- Modal Header -->
            <div class="modal-header sM0-supp-1-bg border-0 align-items-center justify-content-between">
                <!-- Assign Imge And Title -->
                <div (click)="getPropertiesById(prop.id)" data-dismiss="modal" class="d-flex sM0-click align-items-center ">
                    <i class=" sM0-img-c rounded-circle sM0-gold-border sM0-f-radius~ d-flex justify-content-center sM0-bg-imgs-center mr-4" [ngStyle]="{'background-image' : 'url('+ prop?.images +')'}">
                    </i>
                    <p class="modal-title sM0-fs-b-16 sM0-text-0-cr m-0 p-0" id="exampleModalLabel">{{prop?.title | slice:0:50}}</p>
                </div>
                <!-- Serach Bar -->
                <div  class="OM-Holder-search-w m-0  pl-4">
                    <div  class="d-flex w-100">
                        <button  class="px-3 py-2 sM0-smoke-bg sM0-t-l-radius btn d-flex" (click)="searchINP.focus()"  >
                            <i  class="sM0-icon-d OM-search-icon"></i>
                        </button>
                        <input #searchINP type="search" [(ngModel)]="searchText" placeholder="Search..." class="sM0-smoke-bg sM0-text-0-cr sM0-r-b-radius pr-4">
                    </div>
                </div>
            </div>
            <!-- progress bar -->
                <div *ngIf="loading.value$ | async" class=" loader-container p-0 ml-1 mr-5 position-relative">
                    <mat-progress-bar [value]="loading.value$ | async" class="position-absolute sM0-f-radius mx-4 pl-4~ " mode="determinate"></mat-progress-bar>
                </div>
            <!-- Navs Bar -->
            <div class="modal-header p-4 sM0-supp-1-bg border-0 align-items-center justify-content-start">
                <h5 class="modal-title sM0-fs-b-16 sM0-text-0-cr m-0 p-0" id="exampleModalLabel">Assign User</h5>
                <p class="sM0-fs-b-16 sM0-text-0-cr my-0 mx-4"> | </p>
                <ul class="sM0-text-0-cr m-0 d-flex align-items-center p-0" >
                    <li class="mr-4 sM0-fs-mid-b-12 sM0-notActive sM0-click d-flex align-items-center"  [class.sM0-notActive]="rollId_isActive != 2"  [class.sM0-Active]="rollId_isActive == 2"   (click)='getUsersByRoleID(2); activeRoute(2)'>
                        <i class="iM0-icon-dubiAdmin-white sM0-icon-e sM0-bg-imgs-center mb-1 mr-1"></i>
                        <p class="m-0">Dubi Admin</p>
                    </li>     
                    <li class="mr-4 sM0-fs-mid-b-12 sM0-notActive sM0-click d-flex align-items-center"  [class.sM0-notActive]="rollId_isActive != 3"  [class.sM0-Active]="rollId_isActive == 3"   (click)='getUsersByRoleID(3); activeRoute(3)'>
                        <i class="iM0-icon-accountManger-white sM0-icon-e sM0-bg-imgs-center mb-1 mr-1"></i>
                        <p class="m-0 ">Account Manager</p>
                    </li>     
                    <li class="mr-4 sM0-fs-mid-b-12 sM0-notActive sM0-click d-flex align-items-center"  [class.sM0-notActive]="rollId_isActive != 4"  [class.sM0-Active]="rollId_isActive == 4"   (click)='getUsersByRoleID(4); activeRoute(4)'>
                        <i class="iM0-icon-camera-white sM0-icon-e sM0-bg-imgs-center mb-1 mr-1"></i>
                        <p class="m-0 ">PhotoGrapher</p>
                    </li>
                    <li class="mr-4 sM0-fs-mid-b-12 sM0-notActive sM0-click d-flex align-items-center" [class.sM0-notActive]="rollId_isActive != 5"  [class.sM0-Active]="rollId_isActive == 5"   (click)='getUsersByRoleID(5); activeRoute(5)'>
                        <i class="OM-icon-designwhite sM0-icon-e sM0-bg-imgs-center mb-1 mr-1"></i>
                        <p class="m-0 ">Designers</p>
                    </li>
                    <li class="mr-4 sM0-fs-mid-b-12 sM0-notActive sM0-click d-flex align-items-center" [class.sM0-notActive]="rollId_isActive != 6"  [class.sM0-Active]="rollId_isActive == 6"   (click)='getUsersByRoleID(6); activeRoute(6)'>
                        <i class="iM0-icon-contentManger-white sM0-icon-e sM0-bg-imgs-center mb-1 mr-1"></i>
                        <p class="m-0 ">Content Creator</p>
                    </li>
                </ul>
            </div>
            <!--  Modal Content  -->
            <div class="modal-body sM0-supp-0-bg px-4 py-0 overflow-auto my-4 ">
                <ng-container *ngIf="( assignUserService?.usersByRole | filter : searchText) as result">
                    <ng-container *ngIf="isAssigned">
                        <!-- user ROW -->
                        <div *ngFor='let user of result' class="row p-4 sM0-supp-1-bg mb-4 d-flex justify-content-between align-items-center m-0 sM0-f-radius">
                            <!-- Profile Icons And SurnName -->
                            <div (click)='goToUserProfile(user.id)'  data-dismiss="modal" class="col-4 sM0-click  d-flex w-100 align-items-center justify-content-start ">
                                <!-- img -->
                                <div>
                                    <i [ngStyle]="user?.image != '' ? {'background-image' : 'url('+imageBaseURL+ user?.image +')'} : {'background-image' : 'url(/assets/Icons/new-user.svg)'}"
                                    class="OM-img-profile d-block sM0-img-e sM0-circle-border sM0-bg-imgs-center">
                                    </i>
                                </div>
                                <!-- info -->
                                <div class="pl-2">
                                    <p class="m-0 sM0-main-cr">{{user?.name}}</p>
                                    <p class="sM0-fs-10 m-0 sM0-text-0-cr d-flex align-items-center ">
                                        <i
                                        [class.iM0-icon-dubiAdmin-white]="user?.role_id == 2"
                                        [class.iM0-icon-accountManger-white]="user?.role_id == 3"
                                        [class.iM0-icon-camera-white]="user?.role_id == 4"
                                        [class.iM0-icon-designers-white]="user?.role_id == 5"
                                        [class.iM0-icon-contentManger-white]="user?.role_id == 6"
                                        class="sM0-icon-e sM0-bg-imgs-center mb-1 mr-1"></i>
                                        {{user?.role_name}}
                                    </p>
                                </div>
                            </div>
                            <!-- Assign Task Date -->
                            <div   class="col-5 d-flex justify-content-start w-100 p-0">
                                <form class="form-inline">
                                    <div class="d-flex ">
                                        <button class="px-3 py-2 sM0-bg-opacity-white-25 sM0-t-l-radius btn d-flex " (click)="d.toggle()">
                                            <i class="OM-icon-calender sM0-icon-d "></i>
                                        </button>
                                        <input [value]='user?.expDate?user?.expDate: ""' class="form-control sM0-smoke-bg sM0-text-0-cr sM0-r-b-radius pr-4 sM0-btn-w-160 " placeholder="Expiry Date..." name="dp" ngbDatepicker
                                            [footerTemplate]="footerTemplate" #d="ngbDatepicker" #expiryDate autocomplete="off" >
                                    </div>
                                </form>
                                <!-- Date Button Footer -->
                                <ng-template #footerTemplate>
                                    <hr class="my-0">
                                    <button class="btn btn-primary btn-sm m-2 float-left" (click)="expiryDate.value = today; d.close()">Today</button>
                                    <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
                                </ng-template>
                            </div>
                            <!-- Asign Task Button -->
                            <div class="col-3 w-100 d-flex justify-content-center p-0 ">
                                <button *ngIf="!user.check" (click)='assignTask(user.id, expiryDate.value, user.role_id)' class="sM0-btn-w-160 sM0-text-0-cr sM0-smoke-bg sM0-f-radius btn d-flex flex-nowrap align-items-center justify-content-center sM0-bg-opacity-green-25 py-3" >
                                    <i  class="sM0-icon-d OM-img-Plus sM0-bg-imgs-center mr-4"> </i>
                                    <p  class="m-0 sM0-fs-12" >Assign Task</p>
                                </button>
                                <ng-container *ngIf="user.check">
                                    <button disabled
                                        class="btn sM0-btn-w-100 d-flex justify-content-center align-items-center sM0-t-l-radius sM0-bg-opacity-gold-25 pl-2 py-2">
                                        <i class=" OM-icon-timergold d-inline-block sM0-icon-d sM0-bg-imgs-center mr-2"></i>
                                        <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-12">Pending</p>
                                    </button>
                                    <!-- cancle button -->
                                    <button (click)='deleteAssignedUser(user)'
                                        class="btn sM0-btn-w-65 d-flex justify-content-center align-items-center sM0-r-b-radius sM0-bg-opacity-red-25 ml-2 pr-3 py-2">
                                        <i class="OM-icon-trash sM0-icon-d sM0-bg-imgs-center"></i>
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                        <!-- If Not User -->
                        <p *ngIf="result.length === 0"  class="sM0-text-0-cr sM0-fs-16 text-center p-4" >No Users Found !</p>
                    </ng-container>
                </ng-container>
            </div>
            <!-- Modal Footerz -->
            <div class="modal-footer sM0-supp-1-bg border-0 py-3 px-4">
                 <button type="button" class="btn sM0-btn-w-160 sM0-fs-b-16 sM0-text-0-cr sM0-f-radius sM0-smoke-bg border-0 " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button id='openPop' type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#exampleModal">
    Asign Task
</button>
