<div class='container-fluid pr-0 m-0 h-100 M0-cards-holder'>
    <div class='row mx-0 mt-0'>
        <div class='col pl-0 M0-card pr-4 mb-4 d-flex flex-column'>
        <!-- first notification -->
          <div class="row mx-0 w-100 h-50">
            <div class='col sM0-supp-0-bg sM0-f-radius'>
            <div class="row h-100 ">
              <!-- Notification Icon -->
              <div class="OM-icon-holder sM0-supp-1-bg sM0-t-l-radius d-flex justify-content-center align-items-center">
                <i class="OM-icon-warning sM0-icon-b d-inline-block"></i>
              </div>
              <!-- Content -->
              <div class="col sM0-supp-0-bg sM0-text-0-cr d-flex align-items-center ml-4 p-0">
                <div class="mr-4">
                  <i class="OM-img-profile sM0-bg-imgs-center sM0-img-b sM0-f-radius d-inline-block"></i>
                </div>
                <div>
                  <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sed totam doloribus aperiam impedit iure provident necessitatibus? Exercitationem molestias eaque neque veritatis nisi provident eos ipsum, assumenda dolores, at perspiciatis!</p>
                  <div class="d-flex align-items-center mt-4 sM0-opacity-50">
                    <i class="OM-icon-calender sM0-icon-d d-inline-block mr-2"></i>
                    <p class="d-inline-block m-0">Sunday 20/9/2020</p>
                  </div>
                </div>
              </div>
              <!-- Trash Icon -->
              <div class="OM-icon-holder ml-auto sM0-r-b-radius d-flex justify-content-center align-items-center">
                <i class="OM-icon-trash sM0-icon-b d-inline-block"></i>
              </div>
            </div>
            </div>
          </div>
          <!-- divider -->
          <div class="pb-4"></div>
          <!-- second notification -->
          <div class="row mx-0 w-100 h-50">
            <div class='col sM0-supp-0-bg sM0-f-radius'>
              <div class="row h-100 ">
                <!-- Notification Icon -->
                <div class="OM-icon-holder sM0-supp-1-bg sM0-t-l-radius d-flex justify-content-center align-items-center">
                  <i class="OM-icon-warning sM0-icon-b d-inline-block"></i>
                </div>
                <!-- Content -->
                <div class="col sM0-supp-0-bg sM0-text-0-cr d-flex align-items-center ml-4 p-0">
                  <div class="mr-4">
                    <i class="OM-img-profile sM0-bg-imgs-center sM0-img-b sM0-f-radius d-inline-block"></i>
                  </div>
                  <div>
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sed totam doloribus aperiam
                      impedit iure provident necessitatibus? Exercitationem molestias eaque neque veritatis nisi provident eos ipsum,
                      assumenda dolores, at perspiciatis!</p>
                    <div class="d-flex align-items-center mt-4 sM0-opacity-50">
                      <i class="OM-icon-calender sM0-icon-d d-inline-block mr-2"></i>
                      <p class="d-inline-block m-0">Sunday 20/9/2020</p>
                    </div>
                  </div>
                </div>
                <!-- Trash Icon -->
                <div class="OM-icon-holder ml-auto sM0-r-b-radius d-flex justify-content-center align-items-center">
                  <i class="OM-icon-trash sM0-icon-b d-inline-block"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
    </div>
    <div class='row mx-0 mt-0'>
      <div class='col pl-0 M0-card pr-4 mb-4 d-flex flex-column'>
        <!-- first notification -->
        <div class="row mx-0 w-100 h-50">
          <div class='col sM0-supp-0-bg sM0-f-radius'>
            <div class="row h-100 ">
              <!-- Notification Icon -->
              <div class="OM-icon-holder sM0-supp-1-bg sM0-t-l-radius d-flex justify-content-center align-items-center">
                <i class="OM-icon-warning sM0-icon-b d-inline-block"></i>
              </div>
              <!-- Content -->
              <div class="col sM0-supp-0-bg sM0-text-0-cr d-flex align-items-center ml-4 p-0">
                <div class="mr-4">
                  <i class="OM-img-profile sM0-bg-imgs-center sM0-img-b sM0-f-radius d-inline-block"></i>
                </div>
                <div>
                  <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sed totam doloribus
                    aperiam impedit iure provident necessitatibus? Exercitationem molestias eaque neque veritatis nisi
                    provident eos ipsum, assumenda dolores, at perspiciatis!</p>
                  <div class="d-flex align-items-center mt-4 sM0-opacity-50">
                    <i class="OM-icon-calender sM0-icon-d d-inline-block mr-2"></i>
                    <p class="d-inline-block m-0">Sunday 20/9/2020</p>
                  </div>
                </div>
              </div>
              <!-- Trash Icon -->
              <div class="OM-icon-holder ml-auto sM0-r-b-radius d-flex justify-content-center align-items-center">
                <i class="OM-icon-trash sM0-icon-b d-inline-block"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- divider -->
        <div class="pb-4"></div>
        <!-- second notification -->
        <div class="row mx-0 w-100 h-50">
          <div class='col sM0-supp-0-bg sM0-f-radius'>
            <div class="row h-100 ">
              <!-- Notification Icon -->
              <div class="OM-icon-holder sM0-supp-1-bg sM0-t-l-radius d-flex justify-content-center align-items-center">
                <i class="OM-icon-warning sM0-icon-b d-inline-block"></i>
              </div>
              <!-- Content -->
              <div class="col sM0-supp-0-bg sM0-text-0-cr d-flex align-items-center ml-4 p-0">
                <div class="mr-4">
                  <i class="OM-img-profile sM0-bg-imgs-center sM0-img-b sM0-f-radius d-inline-block"></i>
                </div>
                <div>
                  <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sed totam doloribus
                    aperiam
                    impedit iure provident necessitatibus? Exercitationem molestias eaque neque veritatis nisi provident eos
                    ipsum,
                    assumenda dolores, at perspiciatis!</p>
                  <div class="d-flex align-items-center mt-4 sM0-opacity-50">
                    <i class="OM-icon-calender sM0-icon-d d-inline-block mr-2"></i>
                    <p class="d-inline-block m-0">Sunday 20/9/2020</p>
                  </div>
                </div>
              </div>
              <!-- Trash Icon -->
              <div class="OM-icon-holder ml-auto sM0-r-b-radius d-flex justify-content-center align-items-center">
                <i class="OM-icon-trash sM0-icon-b d-inline-block"></i>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    <!-- Third Section -->
    <div class='row mx-0 mt-0'>
      <div class='col pl-0 M0-card pr-4 mb-4 d-flex flex-column'>
        <!-- first notification -->
        <div class="row mx-0 w-100 h-50">
          <div class='col sM0-supp-0-bg sM0-f-radius'>
            <div class="row h-100 ">
              <!-- Notification Icon -->
              <div class="OM-icon-holder sM0-supp-1-bg sM0-t-l-radius d-flex justify-content-center align-items-center">
                <i class="OM-icon-warning sM0-icon-b d-inline-block"></i>
              </div>
              <!-- Content -->
              <div class="col sM0-supp-0-bg sM0-text-0-cr d-flex align-items-center ml-4 p-0">
                <div class="mr-4">
                  <i class="OM-img-profile sM0-bg-imgs-center sM0-img-b sM0-f-radius d-inline-block"></i>
                </div>
                <div>
                  <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sed totam doloribus
                    aperiam impedit iure provident necessitatibus? Exercitationem molestias eaque neque veritatis nisi
                    provident eos ipsum, assumenda dolores, at perspiciatis!</p>
                  <div class="d-flex align-items-center mt-4 sM0-opacity-50">
                    <i class="OM-icon-calender sM0-icon-d d-inline-block mr-2"></i>
                    <p class="d-inline-block m-0">Sunday 20/9/2020</p>
                  </div>
                </div>
              </div>
              <!-- Trash Icon -->
              <div class="OM-icon-holder ml-auto sM0-r-b-radius d-flex justify-content-center align-items-center">
                <i class="OM-icon-trash sM0-icon-b d-inline-block"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- divider -->
        <div class="pb-4"></div>
        <!-- second notification -->
        <div class="row mx-0 w-100 h-50">
          <div class='col sM0-supp-0-bg sM0-f-radius'>
            <div class="row h-100 ">
              <!-- Notification Icon -->
              <div class="OM-icon-holder sM0-supp-1-bg sM0-t-l-radius d-flex justify-content-center align-items-center">
                <i class="OM-icon-warning sM0-icon-b d-inline-block"></i>
              </div>
              <!-- Content -->
              <div class="col sM0-supp-0-bg sM0-text-0-cr d-flex align-items-center ml-4 p-0">
                <div class="mr-4">
                  <i class="OM-img-profile sM0-bg-imgs-center sM0-img-b sM0-f-radius d-inline-block"></i>
                </div>
                <div>
                  <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sed totam doloribus
                    aperiam
                    impedit iure provident necessitatibus? Exercitationem molestias eaque neque veritatis nisi provident eos
                    ipsum,
                    assumenda dolores, at perspiciatis!</p>
                  <div class="d-flex align-items-center mt-4 sM0-opacity-50">
                    <i class="OM-icon-calender sM0-icon-d d-inline-block mr-2"></i>
                    <p class="d-inline-block m-0">Sunday 20/9/2020</p>
                  </div>
                </div>
              </div>
              <!-- Trash Icon -->
              <div class="OM-icon-holder ml-auto sM0-r-b-radius d-flex justify-content-center align-items-center">
                <i class="OM-icon-trash sM0-icon-b d-inline-block"></i>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>
</div>



<!-- <div class="row justify-content-center mb-4 sM0-f-radius text-center w-100 h-100 ml-0 bg-danger">
  <div class="row bg-success sM0-f-radius mb-3 w-100 h-50">1</div>
  <div class="row bg-dark sM0-f-radius w-100 h-50">2</div>
</div> -->