.OM-icon-holder {
  width: 100px;
}
.OM-icon-trash {
  background-image: url("/assets/Icons/Trash.svg");
}
.OM-icon-warning {
  background-image: url("/assets/Icons/Warning.svg");
}
.OM-icon-calender {
  background-image: url("/assets/Icons/Calender.svg");
}
.OM-img-profile {
  background-image: url("/assets/Profile/profile1.jpg");
}
