<div class='container-fluid pr-0 m-0 h-100 M0-cards-holder'>
  <div class='row flex-wrap flex-column pr-2 mx-0 justify-content-center'>
    <!-- first notification -->
    <div class="d-flex flex-md-row flex-column w-100 M0-card-full-w sM0-supp-0-bg sM0-f-radius pb-md-0 pb-4">
      <!-- Notification Icon -->
      <div class="OM-icon-holder sM0-supp-1-bg sM0-t-l-radius d-flex justify-content-center align-items-center p-md-0 p-4">
        <i class="OM-icon-warning sM0-icon-c d-inline-block"></i>
      </div>
      <!-- Content -->
      <div class="col sM0-supp-0-bg sM0-text-0-cr d-flex flex-md-row flex-column align-items-center ml-md-4 p-md-0 p-4">
        <div class="mr-md-4 py-md-0 pb-4">
          <i class="OM-img-profile sM0-bg-imgs-center sM0-img-b sM0-f-radius d-inline-block"></i>
        </div>
        <div>
          <p class="m-0 sM0-fs-16 text-md-left text-center">Lorem ipsum dolor sit amet, <span class='sM0-fs-b-16 sM0-green-cr'>consectetur</span> adipisicing elit.</p>
          <div class="d-flex align-items-center mt-lg-4 mt-2 sM0-opacity-50 justify-content-md-start justify-content-center">
            <i class="OM-icon-calender sM0-icon-d d-inline-block mr-2"></i>
            <p class="d-inline-block m-0 sM0-fs-mid-b-12">Sunday 20/9/2020</p>
          </div>
        </div>
      </div>
      <!-- Trash Icon -->
      <div class="OM-icon-holder ml-auto sM0-r-b-radius d-flex justify-content-center align-items-center">
        <i class="OM-icon-trash sM0-icon-c d-inline-block"></i>
      </div>
    </div>
    <!-- divider -->
    <div class="pb-4"></div>
    <!-- second notification -->   
    <div class="d-flex flex-md-row flex-column w-100 M0-card-full-w sM0-supp-0-bg sM0-f-radius pb-md-0 pb-4">
      <!-- Notification Icon -->
      <div class="OM-icon-holder sM0-supp-1-bg sM0-t-l-radius d-flex justify-content-center align-items-center p-md-0 p-4">
        <i class="OM-icon-warning sM0-icon-c d-inline-block"></i>
      </div>
      <!-- Content -->
      <div class="col sM0-supp-0-bg sM0-text-0-cr d-flex flex-md-row flex-column align-items-center ml-md-4 p-md-0 p-4">
        <div class="mr-md-4 py-md-0 pb-4">
          <i class="OM-img-profile sM0-bg-imgs-center sM0-img-b sM0-f-radius d-inline-block"></i>
        </div>
        <div>
          <p class="m-0 sM0-fs-16 text-md-left text-center">Lorem ipsum dolor sit amet, <span class='sM0-fs-b-16 sM0-danger-cr'>consectetur</span> adipisicing elit.</p>
          <div
            class="d-flex align-items-center mt-lg-4 mt-2 sM0-opacity-50 justify-content-md-start justify-content-center">
            <i class="OM-icon-calender sM0-icon-d d-inline-block mr-2"></i>
            <p class="d-inline-block m-0 sM0-fs-mid-b-12">Sunday 20/9/2020</p>
          </div>
        </div>
      </div>
      <!-- Trash Icon -->
      <div class="OM-icon-holder ml-auto sM0-r-b-radius d-flex justify-content-center align-items-center">
        <i class="OM-icon-trash sM0-icon-c d-inline-block"></i>
      </div>
    </div>
  </div>
</div>