<div class='container-fluid pr-0 m-0 h-100 M0-cards-holder'>
  <div class='row mx-0 mt-0 justify-content-center'>
    <div class='col-xl-6 col-lg-4 col-sm-6 pl-0 sM0-f-radius p-0 mb-4'>
      <form #userPassword="ngForm" (ngSubmit)="onSubmit(userPassword)">
        <!-- old Password Input -->
        <!-- <div class="sM0-inp-a w-100 d-flex mb-4">
          <div class='sM0-supp-0-bg sM0-t-l-radius sM0-inp-icon-holder-b d-flex justify-content-center align-items-center'>
            <i class="OM-icon-password sM0-icon-d d-inline-block"></i>
          </div>
          `<div class="col p-0">
            <input ngModel #oldPassword='ngModel' name='oldPassword' type="text" placeholder="Old Password..." class="pl-4 w-100 h-100 sM0-supp-1-bg">
          </div>
          <div class='sM0-supp-1-bg sM0-r-b-radius sM0-inp-icon-holder-b d-flex justify-content-center align-items-center'>
            <i class="OM-icon-eye sM0-icon-d d-inline-block"></i>
          </div>
        </div> -->
        <!-- Password Input -->
        <div class="sM0-inp-a w-100 d-flex mb-4">
          <div class='sM0-supp-0-bg sM0-t-l-radius sM0-inp-icon-holder-b d-flex justify-content-center align-items-center'>
            <i class="OM-icon-password sM0-icon-d d-inline-block"></i>
          </div>
          <div class="col p-0">
            <!-- New Password Input Field -->
            <input id='userPass' ngModel  #newPassword='ngModel' name='password' [attr.type]="passwordView" placeholder="New Password..." class="sM0-text-0-cr pl-4 w-100 h-100 sM0-supp-1-bg">
          </div>
          <div class='sM0-supp-1-bg sM0-r-b-radius sM0-inp-icon-holder-b d-flex justify-content-center align-items-center'>
            <i class="OM-icon-eye sM0-icon-d d-inline-block" (click)='toggleInpPass("userPass")' ></i>
          </div>
        </div>
        <!-- Password Input -->
        <div class="sM0-inp-a w-100 d-flex mb-4">
          <div class='sM0-supp-0-bg sM0-t-l-radius sM0-inp-icon-holder-b d-flex justify-content-center align-items-center'>
            <i class="OM-icon-password sM0-icon-d d-inline-block"></i>
          </div>
          <div class="col p-0">
            <!-- Confirm Password Input Field -->
            <input id='cPassword' ngModel #ConfirmPassword='ngModel' name='c_password' [attr.type]="cPasswordView" placeholder="Confirm Password..." class="sM0-text-0-cr pl-4 w-100 h-100 sM0-supp-1-bg">
          </div>
          <div class='sM0-supp-1-bg sM0-r-b-radius sM0-inp-icon-holder-b d-flex justify-content-center align-items-center'>
            <i class="OM-icon-eye sM0-icon-d d-inline-block" (click)='toggleInpPass("cPassword")'></i>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button  class="sM0-f-radius sM0-inp-a w-50 sM0-main-cr sM0-supp-1-bg sM0-border-none">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>