<div class='container-fluid pr-0 m-0 h-100 M0-cards-holder'>
  <div class='row mx-0 mt-0 justify-content-center'>
    <div class='col-xl-6 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card~ p-0 mb-4'>
          <form #createForm="ngForm" (ngSubmit)="createForm.valid && onSubmit(createForm)" class="sM0-text-0-cr">
            <!-- User Input -->
            <div class="w-100 d-flex mb-4 sM0-inp-h-49">
              <div class='sM0-supp-0-bg sM0-t-l-radius px-4 d-flex align-items-center'>
                <i class="OM-icon-user sM0-icon-d"></i>
              </div>
              <div class="col p-0">
                <input ngModel required #userName="ngModel" name='username' type="text" placeholder="User Name..." class=" sM0-text-0-cr pl-4 h-100 w-100 sM0-supp-1-bg sM0-r-b-radius">
              </div>
            </div>
            <!-- Email Input -->
            <div class="w-100 d-flex mb-4 sM0-inp-h-49">
              <div class='sM0-supp-0-bg sM0-t-l-radius d-flex px-4 align-items-center'>
                <i class="OM-icon-email sM0-icon-d"></i>
              </div>
              <div class="col p-0">
                <input ngModel required #eMail='ngModel' name='email' type="email" placeholder="E-Mail..." class="sM0-text-0-cr pl-4 w-100 h-100 sM0-supp-1-bg sM0-r-b-radius">
              </div>
            </div>
            <!-- Password Input -->
            <div class="sM0-inp-a~ w-100 d-flex mb-4 sM0-inp-h-49">
            <div  class='sM0-supp-0-bg sM0-t-l-radius px-4 d-flex align-items-center'>
                <i class="OM-icon-password sM0-icon-d"></i>
              </div>
              <div class="col p-0">
                <input ngModel required #password='ngModel' name='password' type="password" placeholder="Password..." class="sM0-text-0-cr pl-4 w-100 h-100 sM0-supp-1-bg">
              </div>
              <div class='sM0-supp-1-bg sM0-r-b-radius px-4 d-flex justify-content-center align-items-center'>
                <i class="OM-icon-eye sM0-icon-d"></i>
              </div>
            </div>
            <!-- Employee Input -->
            <div class="w-100 d-flex mb-4 sM0-inp-h-49">
              <div class='sM0-supp-0-bg sM0-t-l-radius px-4 d-flex align-items-center'>
                <i class="OM-icon-employee sM0-icon-d"></i>
              </div>
              <div  class='col p-0 '>
                <select [(ngModel)]='option0.value' ngModel required #role='ngModel' name='role_id' class='sM0-text-0-cr pl-4 round w-100 h-100 sM0-text-0-cr sM0-supp-1-bg sM0-r-b-radius w-100 sM0-border-none px-3'>
                  <option #option0 selected disabled value="Employee Role..." >
                    Employee Role...
                  </option>
                  <option  value="1" class=''>
                    Project Maneger
                  </option>
                  <option value="2">
                    Dubai Admin
                  </option>
                  <option value="3">
                    Acount Manager
                  </option>
                  <option value="4">
                    Photoshop
                  </option>
                  <option value="5">
                    Designer
                  </option>
                  <option value="6">
                    Content Creator
                  </option>
                </select>
              </div>
            </div>
            <!-- BtN Create -->
            <div class="w-100 d-flex justify-content-end">
              <button type="submit" [disabled]='createForm.invalid' [class.sM0-notActive]='createForm.invalid' class="sM0-f-radius sM0-inp-h-49 w-25 sM0-text-0-cr sM0-green-bg sM0-border-none">Create</button>
            </div>
          </form>
      </div>
  </div>
</div>