.OM-img-src {
  background-image: url("/assets/Profile/profile1.jpg");
}
.OM-img-location {
  background-image: url("/assets/Icons/Location.svg");
}
.OM-img-Locationgold {
  background-image: url("/assets/Icons/Locationgold.svg");
}
.OM-img-progress {
  background-image: url("/assets/Icons/Inprogress.svg");
}
.OM-img-call {
  background-image: url("/assets/Icons/callwhite.svg");
}
.OM-img-Exclamation {
  background-image: url("/assets/Icons/Exclamation.svg");
}
.OM-img-Plus {
  background-image: url("/assets/Icons/Plus.svg");
}
.OM-img-wrong {
  background-image: url("/assets/Icons/wrong.svg");
}
.OM-icon-call-holder {
  width: 40px;
  height: 40px;
  left: 5px;
  top: 10px;
}
