/* Profile Information */
/* Cards */
.OM-img-src {
  background-image: url("/assets/Home/Home.jpg");
}
.OM-img-location {
  background-image: url("/assets/Icons/Location.svg");
}
.OM-img-Locationgold {
  background-image: url("/assets/Icons/Locationgold.svg");
}
.OM-img-progress {
  background-image: url("/assets/Icons/Inprogress.svg");
}
.OM-img-call {
  background-image: url("/assets/Icons/callwhite.svg");
}
.OM-img-Exclamation {
  background-image: url("/assets/Icons/Exclamation.svg");
}
.OM-img-Plus {
  background-image: url("/assets/Icons/Plus.svg");
}
.OM-img-alarm {
  background-image: url("/assets/Icons/Alarm.svg");
}
.OM-img-alarm-red {
  background-image: url("/assets/Icons/alarmRed.svg");
}
.OM-img-right {
  background-image: url("/assets/Icons/Right.svg");
}
.OM-img-thunder {
  background-image: url("/assets/Icons/Thunder.svg");
}
.OM-img-wrong {
  background-image: url("/assets/Icons/wrong.svg");
}
.OM-icon-call-holder {
  width: 40px;
  height: 40px;
  top: 15px;
}
.OM-icon-profile-holder {
  width: 40px;
  height: 63px;
  left: 10%;
}
.OM-icon-timer-holder {
  width: 8vw;
  height: 50px;
}
