<!-- Content Container -->
<div class='container-fluid pr-0 m-0 h-100 M0-cards-holder'>
    <div class='row mx-0 mt-0'>
        <!-- Information profile -->
        <div class='col-xl-9 col-lg-4 col-sm-6 pl-0  M0-card  pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center'></div>
        </div>
        <!-- Taskes Report Cards -->
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0  M0-card  pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center'></div>
        </div>
        <!--  Dummy Cards  -->
        <!-- Asign Task Card -->
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0  M0-card  pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center'>
                 <!-- Image Profile -->
                 <div class="OM-img-src sM0-bg-imgs-center sM0-img-a sM0-t-r-radius mb-5 d-flex justify-content-end w-100 position-relative">
                    <!-- Over Layer -->
                    <div class="sM0-opacity-4 sM0-supp-0-bg h-100 w-100  position-absolute sM0-t-r-radius"></div>
                    <!-- acount manager icon -->
                    <div class="sM0-bg-opacity-gray-90 sM0-b-l-radius OM-icon-profile-holder position-absolute d-flex justify-content-center align-items-end">
                            <i class="OM-img-src sM0-circle-border mb-1 sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                    <!-- Timer icon -->
                    <div class="sM0-text-0-cr sM0-bg-opacity-gray-90 sM0-f-radius OM-icon-timer-holder~ py-2 sM0-btn-w-160 position-absolute d-flex justify-content-center align-items-center mt-3 mr-3">
                        <i class="OM-img-alarm sM0-icon-b sM0-bg-imgs-center d-inline-block mr-2"></i>
                        <p class="mb-0">00 : 00</p>
                    </div>
                    <!-- call icon -->
                    <div class=" align-self-end sM0-bg-opacity-green-90 sM0-f-radius OM-icon-call-holder position-relative d-flex justify-content-center align-items-center mr-3">
                        <i class="OM-img-call sM0-icon-b sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                </div>
                <!-- Username Header -->
                <p class=" sM0-text-0-cr mb-3 h5 text-center">Buy Apartment Luxury...</p>
                <!-- Location -->
                <div class="d-flex justify-content-center">
                    <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mb-3"></i>
                    <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center">Cairo, Maadi</p>
                </div>
                <!-- Inprogress Task -->
                <button class="btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-bg-opacity-green-25 px-4 py-2 mb-3">
                    <i class="OM-img-Plus sM0-icon-c sM0-bg-imgs-center"></i>
                    <p class="sM0-text-0-cr d-inline-block mb-0 ml-2">Asign Task</p>
                </button>
                <!-- Progress Bar -->
                <div class="progress w-75 sM0-f-radius sM0-supp-1-bg">
                    <div class="progress-bar sM0-smoke-bg d-flex align-items-end pr-2 sM0-f-radius" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        0%
                    </div>
                </div>
            </div>
        </div>
        <!-- In-Progress Card -->
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center'>
                 <!-- Image Profile -->
                 <div class="OM-img-src sM0-bg-imgs-center sM0-img-a sM0-t-r-radius mb-5 d-flex justify-content-end w-100 position-relative">
                    <!-- Over Layer -->
                    <div class="sM0-opacity-4 sM0-supp-0-bg h-100 w-100  position-absolute sM0-t-r-radius"></div>
                    <!-- acount manager icon -->
                    <div class="sM0-bg-opacity-gray-90 sM0-b-l-radius OM-icon-profile-holder position-absolute d-flex justify-content-center align-items-end">
                        <i class="OM-img-src sM0-circle-border mb-1 sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                    <!-- Timer icon -->
                    <div class="sM0-text-0-cr sM0-bg-opacity-gray-90 sM0-f-radius OM-icon-timer-holder~ py-2 sM0-btn-w-160 position-absolute d-flex justify-content-center align-items-center mt-3 mr-3">
                        <i class="OM-img-alarm sM0-icon-b sM0-bg-imgs-center d-inline-block mr-2"></i>
                        <p class="mb-0">00 : 00</p>
                    </div>
                    <!-- call icon -->
                    <div class=" align-self-end sM0-bg-opacity-green-90 sM0-f-radius OM-icon-call-holder position-relative d-flex justify-content-center align-items-center mr-3">
                        <i class="OM-img-call sM0-icon-b sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                </div>
                <!-- Username Header -->
                <p class=" sM0-text-0-cr mb-3 h5 text-center">Buy Apartment Luxury...</p>
                <!-- Location -->
                <div class="d-flex justify-content-center">
                    <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mb-3"></i>
                    <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center">Cairo, Maadi</p>
                </div>
                <!-- Inprogress Task -->
                <button class="sM0-text-0-cr btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-bg-opacity-gray-90 px-4 py-2 mb-3">
                    <i class="OM-img-alarm sM0-icon-c sM0-bg-imgs-center d-inline-block mr-2"></i>
                    <p class="mb-0">00:00:01</p>
                </button>
                <!-- Progress Bar -->
                <div class="progress w-75 sM0-f-radius sM0-supp-1-bg">
                    <div class="progress-bar sM0-smoke-bg d-flex align-items-end pr-2 sM0-f-radius" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        0%
                    </div>
                </div>
            </div>
        </div>
        <!-- Report Card -->
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center'>
                 <!-- Image Profile -->
                 <div class="OM-img-src sM0-bg-imgs-center sM0-img-a sM0-t-r-radius mb-5 d-flex justify-content-end w-100 position-relative">
                    <!-- Over Layer -->
                    <div class="sM0-opacity-4 sM0-supp-0-bg h-100 w-100  position-absolute sM0-t-r-radius"></div>
                    <!-- acount manager icon -->
                    <div class="sM0-bg-opacity-gray-90 sM0-b-l-radius OM-icon-profile-holder position-absolute d-flex justify-content-center align-items-end">
                        <i class="OM-img-src sM0-circle-border mb-1 sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                    <!-- Timer icon -->
                    <div class="sM0-text-0-cr sM0-bg-opacity-gray-90 sM0-f-radius OM-icon-timer-holder~ py-2 sM0-btn-w-160 position-absolute d-flex justify-content-center align-items-center mt-3 mr-3">
                        <i class="OM-img-alarm sM0-icon-b sM0-bg-imgs-center d-inline-block mr-2"></i>
                        <p class="mb-0">00 : 00</p>
                    </div>
                    <!-- call icon -->
                    <div class=" align-self-end sM0-bg-opacity-green-90 sM0-f-radius OM-icon-call-holder position-relative d-flex justify-content-center align-items-center mr-3">
                        <i class="OM-img-call sM0-icon-b sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                </div>
                <!-- Username Header -->
                <p class=" sM0-text-0-cr mb-3 h5 text-center">Buy Apartment Luxury...</p>
                <!-- Location -->
                <div class="d-flex justify-content-center">
                    <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mb-3"></i>
                    <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center">Cairo, Maadi</p>
                </div>
                <!-- Inprogress Task -->
                <button class="sM0-text-0-cr btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-bg-opacity-red-25 px-4 py-2 mb-3">
                    <i class="OM-img-alarm-red sM0-icon-c sM0-bg-imgs-center d-inline-block mr-2"></i>
                    <p class="mb-0">12:60:60</p>
                </button>
                <!-- Progress Bar -->
                <div class="progress w-75 sM0-f-radius sM0-supp-1-bg">
                    <div class="progress-bar sM0-danger-bg d-flex align-items-end pr-2 sM0-f-radius" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        50%
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Card -->
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center'>
                 <!-- Image Profile -->
                 <div class="OM-img-src sM0-bg-imgs-center sM0-img-a sM0-t-r-radius mb-5 d-flex justify-content-end w-100 position-relative">
                    <!-- Over Layer -->
                    <div class="sM0-opacity-4 sM0-supp-0-bg h-100 w-100  position-absolute sM0-t-r-radius"></div>
                    <!-- acount manager icon -->
                    <div class="sM0-bg-opacity-gray-90 sM0-b-l-radius OM-icon-profile-holder position-absolute d-flex justify-content-center align-items-end">
                        <i class="OM-img-src sM0-circle-border mb-1 sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                    <!-- Timer icon -->
                    <div class="sM0-text-0-cr sM0-bg-opacity-gray-90 sM0-f-radius OM-icon-timer-holder~ py-2 sM0-btn-w-160 position-absolute d-flex justify-content-center align-items-center mt-3 mr-3">
                        <i class="OM-img-alarm sM0-icon-b sM0-bg-imgs-center d-inline-block mr-2"></i>
                        <p class="mb-0">00 : 00</p>
                    </div>
                    <!-- call icon -->
                    <div class=" align-self-end sM0-bg-opacity-green-90 sM0-f-radius OM-icon-call-holder position-relative d-flex justify-content-center align-items-center mr-3">
                        <i class="OM-img-call sM0-icon-b sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                </div>
                <!-- Username Header -->
                <p class=" sM0-text-0-cr mb-3 h5 text-center">Buy Apartment Luxury...</p>
                <!-- Location -->
                <div class="d-flex justify-content-center">
                    <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mb-3"></i>
                    <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center">Cairo, Maadi</p>
                </div>
                <!-- Inprogress Task -->
                <div class="d-flex flex-nowrap">
                    <button class="btn sM0-btn-w-100 d-flex justify-content-center sM0-t-l-radius sM0-bg-opacity-gold-25 px-4 py-2 mb-3">
                        <i class="OM-img-thunder sM0-icon-c sM0-bg-imgs-center"></i>
                        <p class="sM0-text-0-cr d-inline-block mb-0 ml-2">Start</p>
                    </button>
                    <button class="btn sM0-btn-w-65 d-flex justify-content-center sM0-r-b-radius sM0-bg-opacity-red-25 ml-2 px-4 py-2 mb-3">
                        <i class="OM-img-wrong sM0-icon-c sM0-bg-imgs-center"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Completed Card -->
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center'>
                 <!-- Image Profile -->
                 <div class="OM-img-src sM0-bg-imgs-center sM0-img-a sM0-t-r-radius mb-5 d-flex justify-content-end w-100 position-relative">
                    <!-- Over Layer -->
                    <div class="sM0-opacity-4 sM0-supp-0-bg h-100 w-100  position-absolute sM0-t-r-radius"></div>
                    <!-- acount manager icon -->
                    <div class="sM0-bg-opacity-gray-90 sM0-b-l-radius OM-icon-profile-holder position-absolute d-flex justify-content-center align-items-end">
                        <i class="OM-img-src sM0-circle-border mb-1 sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                    <!-- Timer icon -->
                    <div class="sM0-text-0-cr sM0-bg-opacity-gray-90 sM0-f-radius OM-icon-timer-holder~ py-2 sM0-btn-w-160 position-absolute d-flex justify-content-center align-items-center mt-3 mr-3">
                        <i class="OM-img-alarm sM0-icon-b sM0-bg-imgs-center d-inline-block mr-2"></i>
                        <p class="mb-0">00 : 00</p>
                    </div>
                    <!-- call icon -->
                    <div class=" align-self-end sM0-bg-opacity-green-90 sM0-f-radius OM-icon-call-holder position-relative d-flex justify-content-center align-items-center mr-3">
                        <i class="OM-img-call sM0-icon-b sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                </div>
                <!-- Username Header -->
                <p class=" sM0-text-0-cr mb-3 h5 text-center">Buy Apartment Luxury...</p>
                <!-- Location -->
                <div class="d-flex justify-content-center">
                    <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mb-3"></i>
                    <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center">Cairo, Maadi</p>
                </div>
                <!-- Inprogress Task -->
                <div class="btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-supp-0-bg px-4 py-2 mb-3">
                    <i class="OM-img-right sM0-icon-c sM0-bg-imgs-center"></i>
                    <p class="sM0-text-0-cr d-inline-block mb-0 ml-2">Completed</p>
                </div>
                <!-- Progress Bar -->
                <div class="progress w-75 sM0-f-radius sM0-supp-1-bg">
                    <div class="progress-bar sM0-green-bg d-flex align-items-center sM0-f-radius" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        Completed
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>