.OM-icon-user {
  background-image: url("/assets/Icons/User.svg");
}
.OM-icon-email {
  background-image: url("/assets/Icons/Email.svg");
}
.OM-icon-password {
  background-image: url("/assets/Icons/Password.svg");
}
.OM-icon-employee {
  background-image: url("/assets/Icons/Employee.svg");
}
.OM-icon-eye {
  background-image: url("/assets/Icons/Eye.svg");
}
.OM-icon-arrow-down {
  background-image: url("/assets/Icons/Arrow-Down.svg");
}
