<!-- side Menu container -->
<div id='sideMenuHolder' class='container-fluid sM0-f-radius h-100 shadow'>
    <div class='row h-100'>
        <div class='col h-100 sM0-supp-1-bg d-flex justify-content-end sM0-f-radius'>
            <!-- open Menu -->
            <i #sideMenuOpenBTN data-toggle='false' (click)="openSideMenu.emit(sideMenuOpenBTN)"
                class='M0-open-menu-icon sM0-icon-b sM0-bg-imgs-center align-self-center d-xl-none d-block position-absolute M0-side-open'></i>
            <!-- Arrow icon -->
            <i #sideMenuBTN data-toggle='false' (click)="toggelSideMenu.emit(sideMenuBTN)"
                class='M0-arrow-in-icon sM0-icon-b sM0-bg-imgs-center align-self-center d-xl-block d-none position-absolute M0-side-arrow'></i>
        </div>
    </div>
</div>
<!-- openMenu -->