<!-- side Menu container -->
<div id='sideMenuHolder' class='container-fluid sM0-f-radius h-100 shadow'>
    <div class='row h-100'>
        <div class='col h-100 sM0-supp-1-bg d-flex justify-content-end sM0-f-radius'>
            <!-- Small sideMenu button -->
            <!-- open Menu -->
            <i #sideMenuOpenBTN data-toggle='true' (click)="openSideMenu.emit([sideMenuOpenBTN, conditionI]); checkDataToggle(conditionI)"
                class='sM0-click M0-open-menu-icon sM0-icon-b sM0-bg-imgs-center align-self-center d-xl-none d-lg-block d-none position-absolute M0-side-open'></i>
            <!-- larg sideMenu arrow -->
            <!-- Arrow icon -->
            <i #sideMenuBTN (click)="toggelSideMenu.emit([sideMenuBTN,conditionI]); checkDataToggle(conditionI)"
                class='sM0-click M0-arrow-in-icon sM0-icon-b sM0-bg-imgs-center align-self-center d-xl-block d-none position-absolute M0-side-arrow'></i>
            <!-- condition icon  for  data toggle -->
            <i  id='conditionIBTN' #conditionI data-toggle='false'></i>
            <!-- (Open)  Side-Menu Information -->
            <div class="w-100 mt-5 flex-column justify-content-between overflow-auto" [class.d-none]='innerSideMenuData' [class.d-flex]='!innerSideMenuData'>
                <!-- Profile Info -->
                <div class="h-50 mb-5~" [class.h-50]='authService.user?.data?.role_id == 1'>
                    <div routerLink="/user/profile" class="w-100 d-flex justify-content-center p-xl-2 p-4">
                        <i [ngStyle]="authService.user?.data?.image != '' ? {'background-image' : 'url('+ imageBaseURL + authService.user?.data?.image +')'} : {'background-image' : 'url(/assets/Icons/new-user.svg)'}"
                         class="sM0-click OM-img-profile1 sM0-bg-imgs-center sM0-img-b sM0-f-radius d-inline-block"></i>
                    </div>
                    <!-- UserName -->
                    <div class="text-center">
                        <p routerLink="/user/profile" class="sM0-click sM0-main-cr sM0-fs-b-24 my-4">{{authService.user?.data.username}} </p>
                        <p class="sM0-text-0-cr m-0 sM0-fs-16 d-flex align-items-center justify-content-center">
                            <i
                            [class.iM0-icon-projectManager-white]="authService.user?.data?.role_id == 1"
                            [class.iM0-icon-dubiAdmin-white]="authService.user?.data?.role_id == 2"
                            [class.iM0-icon-accountManger-white]="authService.user?.data?.role_id == 3"
                            [class.iM0-icon-camera-white]="authService.user?.data?.role_id == 4"
                            [class.iM0-icon-designers-white]="authService.user?.data?.role_id == 5"
                            [class.iM0-icon-contentManger-white]="authService.user?.data?.role_id == 6"
                            class="sM0-icon-d sM0-bg-imgs-center mb-1 mr-1"></i>
                            {{authService.user?.data.role_name}} </p>
                    </div>
                </div>
                <!-- navigations  -->
                <div class="flex-column align-items-start mt-5">
                    <!-- Profile Line -->
                    <button routerLinkActive="sM0-active" routerLink="/user/profile" class="sM0-notActive btn py-0 mb-5 d-flex justify-content-center">
                        <i class="OM-img-profile sM0-icon-c sM0-bg-imgs-center mr-3"></i>
                        <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-16">Profile</p>
                    </button>
                    <!-- Teams Line -->
                    <button *ngIf='authService.user?.data?.role_id == 1 ||  authService.user?.data?.role_id == 2' routerLinkActive="sM0-active" routerLink="/user/teams" class="sM0-notActive btn py-0 mb-5 d-flex justify-content-center">
                        <i class="OM-img-team sM0-icon-c sM0-bg-imgs-center mr-3"></i>
                        <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-16">Teams</p>
                    </button>
                    <!-- Notification Line -->
                    <button *ngIf='devMood' routerLinkActive="sM0-active" routerLink="/user/notifi" class="sM0-notActive btn py-0 mb-5 d-flex justify-content-center">
                        <i class="OM-img-notification sM0-icon-c sM0-bg-imgs-center mr-3"></i>
                        <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-16">Notification</p>
                    </button>
                    <!-- Settings Line -->
                    <button routerLinkActive="sM0-active" routerLink="/user/settings/personal-info" class="sM0-notActive btn py-0 mb-5 d-flex justify-content-center">
                        <i class="OM-img-setting sM0-icon-c sM0-bg-imgs-center mr-3"></i>
                        <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-16">Settings</p>
                    </button>
                    <!-- Add User Line -->
                    <button *ngIf='authService.user?.data?.role_id == 1' routerLinkActive="sM0-active" routerLink="/user/create-account" class="sM0-notActive btn py-0 mb-5 d-flex justify-content-center">
                        <i class="OM-img-Plus sM0-icon-c sM0-bg-imgs-center mr-3"></i>
                        <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-16">Add User</p>
                    </button>
                </div>
                <!-- logout button -->
                <div class="h-25 mb-5 d-flex align-items-end">
                    <!-- Logout Line -->
                    <button routerLink='/login' (click)='logOut()' class="btn py-0 mb-3 d-flex justify-content-center">
                        <i class="OM-img-logout sM0-icon-c sM0-bg-imgs-center mr-2"></i>
                        <p class="sM0-text-0-cr d-inline-block mb-0">Logout</p>
                    </button>
                </div>
            </div>
            <!-- (close With Icos ) Side-Menu Information  -->
            <div class="w-100 mt-5 flex-column justify-content-between" [class.d-none]='!innerSideMenuData' [class.d-flex]='innerSideMenuData'>
                <!-- Profile Info -->
                <div class="h-25">
                    <div class="w-100 d-flex justify-content-center py-4 M0-profile-img-holder">
                        <i  [ngStyle]="authService.user?.data?.image != '' ? {'background-image' : 'url('+ imageBaseURL + authService.user?.data?.image +')'} : {'background-image' : 'url(/assets/Icons/new-user.svg)'}"
                        routerLink="/user/profile" class="sM0-click OM-img-profile1 sM0-bg-imgs-center sM0-img-c sM0-f-radius d-inline-block"></i>
                    </div>
                    <!-- invisible -->
                    <!-- <div class="text-center invisible">
                        <p class="sM0-main-cr h5">Name Surname </p>
                        <p class="sM0-text-0-cr m-0 h6">Project Manager </p>
                    </div> -->
                    <!-- Toggle Menu Icone -->
                    <div class="text-center ">
                        <p class="sM0-text-0-cr m-0 sM0-fs-16 d-flex align-items-center justify-content-center">
                            <i
                            [class.iM0-icon-projectManager-white]="authService.user?.data?.role_id == 1"
                            [class.iM0-icon-dubiAdmin-white]="authService.user?.data?.role_id == 2"
                            [class.iM0-icon-accountManger-white]="authService.user?.data?.role_id == 3"
                            [class.iM0-icon-camera-white]="authService.user?.data?.role_id == 4"
                            [class.iM0-icon-designers-white]="authService.user?.data?.role_id == 5"
                            [class.iM0-icon-contentManger-white]="authService.user?.data?.role_id == 6"
                            class="sM0-icon-d sM0-bg-imgs-center mb-1 mr-1"></i>
                        </p>
                    </div>
                </div>
                <!-- navigations  -->
                <div class="flex-column justify-content-center align-items-center">
                    <!-- Profile Line -->
                    <i routerLinkActive="sM0-active" routerLink="/user/profile" class="sM0-notActive sM0-click OM-img-profile sM0-icon-c mb-5 mx-auto sM0-bg-imgs-center d-block"></i>
                    <!-- Teams Line -->
                    <i *ngIf='authService.user?.data?.role_id == 1 ||  authService.user?.data?.role_id == 2' routerLinkActive="sM0-active" routerLink="/user/teams" class="sM0-notActive sM0-click OM-img-team sM0-icon-c mb-5 mx-auto sM0-bg-imgs-center d-block"></i>
                    <!-- Notification Line -->
                    <i *ngIf='devMood' routerLinkActive="sM0-active" routerLink="/user/notifi" class="sM0-notActive sM0-click OM-img-notification sM0-icon-c mx-auto mb-5 sM0-bg-imgs-center d-block"></i>
                    <!-- Settings Line -->
                    <i routerLinkActive="sM0-active" routerLink="/user/settings/personal-info" class="sM0-notActive sM0-click OM-img-setting sM0-icon-c mb-5 mx-auto sM0-bg-imgs-center d-block"></i>
                    <!-- Add User Line -->
                    <i *ngIf='authService.user?.data?.role_id == 1' routerLinkActive="sM0-active" routerLink="/user/create-account" class="sM0-notActive sM0-click OM-img-Plus sM0-icon-c mb-5 mx-auto sM0-bg-imgs-center d-block"></i>
                </div>
                <!-- logout button -->
                <div routerLink='/login' (click)='logOut()' class="h-25 mb-5 d-flex align-items-end">
                    <!-- Logout Line -->
                    <i  class="sM0-click OM-img-logout sM0-icon-c  mx-auto sM0-bg-imgs-center d-block"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- openMenu -->
