<div class="row justify-content-center overflow-auto h-100">
    <form class='w-100 d-flex flex-wrap justify-content-center' #detailsForm="ngForm" (ngSubmit)="detailsForm.valid && onSubmit(detailsForm)">
        <div class='M0-mini-card pr-4 mb-4'>
            <!-- Size In ft -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3 mb-4">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-4">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-size sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2">Size In ft</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="size" required [(ngModel)]="taskDetailsService.taskDetails?.details.size" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
            <!-- Bedrooms -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-bedrooms sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2">Bedrooms</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="bedrooms" required [(ngModel)]="taskDetailsService.taskDetails?.details.bedrooms" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
        </div>
        <div class='M0-mini-card pr-4 mb-4'>
            <!-- Lot Size in ft -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3 mb-4">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-lot sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2 sM0-fs-b-16">Lot Size in ft</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="lot_size" required [(ngModel)]="taskDetailsService.taskDetails?.details.lot_size" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
            <!-- Bathrooms -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-bathrooms sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2 sM0-fs-b-16">Bathrooms</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="Bathrooms" required [(ngModel)]="taskDetailsService.taskDetails?.details.bathrooms" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
        </div>
        <div class='M0-mini-card pr-4 mb-4'>
            <!-- Rooms -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3 mb-4">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-rooms sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2 sM0-fs-b-16">Rooms</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="rooms" required [(ngModel)]="taskDetailsService.taskDetails?.details.rooms" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
            <!-- Garages -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-garage sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2 sM0-fs-b-16">Garages</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="garages" required [(ngModel)]="taskDetailsService.taskDetails?.details.garages" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
        </div>
        <div class='M0-mini-card pr-4 mb-4'>
            <!-- Date -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-calender sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2">Date</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="property_date" required [(ngModel)]="taskDetailsService.taskDetails?.details.property_date" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
            <!-- Start Divided -->
            <div class="pb-4"></div>
            <!-- End Divided -->
            <!-- Area -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-area sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2">Area</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="area" required [(ngModel)]="taskDetailsService.taskDetails?.details.area" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
        </div>
        <div class='M0-mini-card pr-4 mb-4'>
            <!-- Floors No -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-floors sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2">Floors No</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="floors_no" required [(ngModel)]="taskDetailsService.taskDetails?.details.floors_no" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
            <!-- Start Divided -->
            <div class="pb-4"></div>
            <!-- End Divided -->
            <!-- Broker ORN -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-callwhite sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2">Broker ORN</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="broker_orn" required [(ngModel)]="taskDetailsService.taskDetails?.details.broker_orn" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
        </div>
        <div class='M0-mini-card pr-4 mb-4'>
            <!-- Rent Time -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-rent sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2">Rent Time</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="rent_time" required [(ngModel)]="taskDetailsService.taskDetails?.details.rent_time" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
            <!-- Start Divided -->
            <div class="pb-4"></div>
            <!-- End Divided -->
            <!-- Trakheesi Permit -->
            <div class="M0-micro-card sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-3">
                <!-- Edit Icon -->
                <div class="d-flex h-50 align-items-center pb-3">
                    <i class="sM0-bg-opacity-white-25 sM0-f-radius p-4 OM-img-edit sM0-icon-d sM0-bg-imgs-center"></i>
                    <p class="mb-0 sM0-fs-b-16 sM0-text-0-cr ml-2">Trakheesi Permit</p>
                </div>
                <!-- Input -->
                <div class="h-50 pt-3">
                    <input ngModel name="trakheesi_permit" required [(ngModel)]="taskDetailsService.taskDetails?.details.trakheesi_permit" type="text" placeholder="Only Numbers..."
                        class="w-100 px-3 sM0-smoke-bg sM0-f-radius sM0-text-0-cr sM0-fs-mid-b-12 h-100">
                </div>
            </div>
        </div>
        
        <div class='M0-mini-card-none'></div>
        <div class='M0-mini-card-none'></div>
        <div class='M0-mini-card-none'></div>
        <div class='M0-mini-card-none'></div>
        <!-- Button Save -->
        <div class="w-50">
            <button class="sM0-f-radius py-4 w-100 sM0-main-bg sM0-border-none" [disabled]='detailsForm.invalid' [class.sM0-notActive]='detailsForm.invalid'>
                <p class="mb-0 m-auto sM0-text-0-cr sM0-fs-b-16">Save</p>
            </button>
        </div>
    </form>
</div>