
<!--  Modal  -->
<div class="modal fade mx-auto" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
        <div class="modal-content border-0 sM0-supp-0-bg sM0-popup-w  sM0-f-radius overflow-hidden">
            <!-- Modal Header -->
            <div class="modal-header p-4 sM0-supp-1-bg border-0 align-items-center justify-content-center">
                <h5 class="modal-title sM0-fs-b-16 sM0-text-0-cr m-0 p-0" id="exampleModalLabel">Asign Tasks</h5>
                <p class="sM0-fs-b-16 sM0-text-0-cr my-0 mx-4"> | </p>
                <!-- Navs Bar -->
                <ul class="sM0-text-0-cr m-0 d-flex align-items-center p-0">
                    <li class="d-inline-block mr-4 sM0-fs-mid-b-12 sM0-notActive sM0-click"> Dubi Admin</li>
                    <li class="d-inline-block mr-4 sM0-fs-mid-b-12 sM0-notActive sM0-click"> PhotoGrapher</li>
                    <li class="d-inline-block mr-4 sM0-fs-mid-b-12 sM0-notActive sM0-click"> Designers</li>
                    <li class="d-inline-block mr-4 sM0-fs-mid-b-12 sM0-notActive sM0-click"> Content Creator</li>
                </ul>
                <!-- Serach Bar -->
                <div  class="OM-Holder-search-w m-0  pl-4">
                    <div  class="d-flex w-100">
                        <button  class="px-3 py-2 sM0-smoke-bg sM0-t-l-radius btn d-flex">
                            <i  class="sM0-icon-d OM-search-icon"></i>
                        </button>
                        <input  type="search" placeholder="Search..." class="w-100~ sM0-smoke-bg sM0-text-0-cr sM0-r-b-radius pr-4">
                    </div>
                </div>
            </div>
            <!--  Modal Content  -->
            <div class="modal-body sM0-supp-0-bg px-4 py-0 overflow-auto my-4 ">
                <div class="row p-4 sM0-supp-1-bg mb-4 d-flex justify-content-between align-items-center m-0 sM0-f-radius">
                    <!-- Profile Icons And SurnName -->
                    <div class=" d-flex align-items-center">
                        <div><i class="OM-img-profile d-block sM0-img-e sM0-circle-border sM0-bg-imgs-center"></i></div>
                        <div class="pl-2">
                            <p class="mb-0 sM0-main-cr">Name Surname</p>
                            <p class="sM0-fs-10 mb-0 sM0-text-0-cr d-flex pl-1"><i class="OM-icon-designwhite sM0-icon-e sM0-bg-imgs-center mr-1 d-inline-block"></i>Graphic Designer</p>
                        </div>
                    </div>
                    <!-- Asign Task Button -->
                    <button class="sM0-btn-w-160 sM0-text-0-cr sM0-smoke-bg sM0-f-radius btn d-flex flex-nowrap align-items-center justify-content-center sM0-bg-opacity-green-25 py-3">
                        <i  class="sM0-icon-d OM-img-Plus sM0-bg-imgs-center mr-4"> </i>
                        <p  class="m-0 sM0-fs-12">Asign Task</p>
                    </button>
                </div>
                </div>
            <!-- Modal Footer -->
            <div class="modal-footer sM0-supp-1-bg border-0 py-3 px-4">
                <button type="button" class="btn sM0-btn-w-160 sM0-fs-b-16 sM0-text-0-cr sM0-f-radius sM0-smoke-bg border-0 " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Asign Task
</button>



