<!-- ! Start Description COmp -->
<div class='row justify-content-center mb-4'>
    <form class='w-100' action="">
        <!-- 1st Row -->
        <!-- User Name Input -->
        <div class=" d-flex mb-4">
            <!-- Icon Holder -->
            <div class='sM0-smoke-bg sM0-t-l-radius p-4'>
            <i class="OM-img-inprogress sM0-icon-d d-block"></i>
            </div>
            <!-- Input Field -->
            <div class="w-100">
            <input type="text" placeholder="Property Name..." class=" pl-4 h-100 w-100 sM0-supp-1-bg sM0-r-b-radius">
            </div>
        </div>
        <!-- 2nd Row -->
        <div class="d-flex mb-4">
            <!-- ? Gender -->
            <div class="w-100 d-flex">
                <!-- Icon Holder -->
                <div class='sM0-smoke-bg sM0-t-l-radius p-4'>
                <i class="OM-icon-price sM0-icon-d d-block"></i>
                </div>
                <!-- Input Field -->
                <div class="w-100 p-0">
                    <input type="text" placeholder="Price..." class=" pl-4 h-100 w-100 sM0-supp-1-bg sM0-r-b-radius">
                </div>
            </div>
            <!-- ? Start Divider -->
            <div class="px-3"></div>
            <!-- ? End Divider -->
            <!-- ? Gender -->
            <div class="w-100 d-flex">
                <!-- Icon Holder -->
                <div class='sM0-smoke-bg sM0-t-l-radius p-4'>
                    <i class="OM-icon-fire sM0-icon-d d-block"></i>
                </div>
                <!-- Select Input -->
                <div class='w-100 p-0'>
                    <select class='pl-4 h-100 sM0-text-0-cr sM0-supp-1-bg sM0-r-b-radius w-100 sM0-border-none'>
                        <option value="">
                            Status...
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- 3rd Row -->
        <div class="d-flex mb-4">
            <!-- ? Gender -->
            <div class="w-100 d-flex">
                <!-- Icon Holder -->
                <div class='sM0-smoke-bg sM0-t-l-radius p-4'>
                    <i class="OM-icon-home sM0-icon-d d-block"></i>
                </div>
                <!-- Select Input -->
                <div class='w-100'>
                    <select class='pl-4 h-100 sM0-text-0-cr sM0-supp-1-bg sM0-r-b-radius w-100 sM0-border-none'>
                        <option>
                            Category...
                        </option>
                    </select>
                </div>
            </div>
            <!-- ? Start Divider -->
            <div class="px-3"></div>
            <!-- ? End Divider -->
            <!-- ? Gender -->
            <div class="w-100 d-flex">
                <!-- Icon Holder -->
                <div class='sM0-smoke-bg sM0-t-l-radius p-4'>
                    <i class="OM-icon-rent sM0-icon-d d-block"></i>
                </div>
                <!-- Select Input -->
                <div class='w-100'>
                    <select class='pl-4 h-100 sM0-text-0-cr sM0-supp-1-bg sM0-r-b-radius w-100 sM0-border-none'>
                        <option>
                            Listed in...
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Textarea Description -->
        <div class="sM0-inp-description-holder-a d-flex mb-4">
            <!-- Icon Holder -->
                <div class='sM0-smoke-bg d-flex align-items-center sM0-t-l-radius p-4 h-100'>
                    <i class="OM-img-inprogress sM0-icon-d d-block"></i>
                </div>
            <!-- Input Field -->
            <div class="w-100">
                <div class="w-100~ h-25 d-flex align-items-center sM0-bg-opacity-gray-5 sM0-r-radius pl-4">
                    <i class="OM-icon-bold sM0-icon-c mr-4"></i>
                    <i class="OM-icon-italic sM0-icon-c mr-4"></i>
                    <i class="OM-icon-textlist sM0-icon-c mr-4"></i>
                    <i class="OM-icon-listnumber sM0-icon-c"></i>
                </div>
                <div class="w-100 h-75">
                    <textarea type="text" placeholder="Description..."
                        class="pl-4 h-100 w-100 sM0-supp-1-bg sM0-b-radius sM0-text-0-cr sM0-border-none p-4"></textarea>
                </div>
            </div>
        </div>
        <!-- Button Save -->
        <div class="d-flex justify-content-end mb-5">
            <button class="sM0-f-radius sM0-inp-a w-50 px-4 sM0-main-cr d-flex align-items-center pr-4 justify-content-center sM0-main-bg sM0-border-none">
                <p class="mb-0 m-auto sM0-text-0-cr sM0-fs-b-16">Next</p><i class="OM-icon-arrowout sM0-icon-d"></i>
            </button>
        </div>
    </form>
</div>
<!-- ! End Description COmp -->
<!-- ! Designer Panel Start -->
<div class="row justify-content-center overflow-auto h-100">
    <div class='w-100'>
        <div class="M0-micro-card d-flex sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4 mb-4">
            <!-- Holder Image Icon -->
            <div class="sM0-img-aa OM-img-src sM0-bg-imgs-center bg-danger h-100 sM0-f-radius">
            </div>
            <!-- HTTP Input -->
            <div class="w-100 px-4 d-flex flex-column justify-content-center">
                <p class="sM0-text-0-cr sM0-fs-b-16">Property Image Name</p>
                <div class="d-flex w-100">
                    <div
                        class='py-4 sM0-bg-opacity-green-5 sM0-t-l-radius sM0-inp-icon-holder-a d-flex justify-content-center align-items-center'>
                        <i class="OM-img-link sM0-icon-d"></i>
                    </div>
                    <div class="w-100">
                        <input type="text" placeholder="URL..."
                            class="sM0-fs-mid-b-12 sM0-r-b-radius px-4 w-100 h-100 sM0-bg-opacity-green-25 sM0-text-0-cr">
                    </div>
                </div>
            </div>
            <!-- Holder Icons -->
            <div class="sM0-bg-opacity-green-25 h-100 sM0-f-radius d-flex flex-column justify-content-between">
                <i class="OM-img-profile sM0-img-d p-4  sM0-circle-border sM0-bg-imgs-center"></i>
                <i class="OM-img-profile sM0-img-d p-4  sM0-circle-border sM0-bg-imgs-center"></i>
            </div>
        </div>
        <div class="M0-micro-card d-flex sM0-bg-opacity-supp-1-5 sM0-f-radius w-100 p-4 mb-4">
            <!-- Holder Image Icon -->
            <div class="sM0-img-aa OM-img-src sM0-bg-imgs-center bg-danger h-100 sM0-f-radius">
            </div>
            <!-- HTTP Input -->
            <div class="w-100 px-4 d-flex flex-column justify-content-center">
                <p class="sM0-text-0-cr sM0-fs-b-16">Property Image Name</p>
                <div class="d-flex w-100">
                    <div
                        class='sM0-supp-0-bg sM0-t-l-radius sM0-inp-icon-holder-a d-flex justify-content-center align-items-center'>
                        <i class="OM-img-link sM0-icon-d"></i>
                    </div>
                    <div class="w-100 p-0">
                        <input type="text" placeholder="URL..."
                            class="sM0-fs-mid-b-12 sM0-r-b-radius px-4 w-100 h-100 sM0-supp-1-bg sM0-text-0-cr">
                    </div>
                </div>
            </div>
            <!-- Holder Icons -->
            <div class="sM0-bg-opacity-gold-25 h-100 sM0-f-radius d-flex flex-column justify-content-between">
                <i class="OM-img-profile sM0-img-d p-4  sM0-circle-border sM0-bg-imgs-center"></i>
                <i class="OM-img-edit p-4 sM0-bg-opacity-gold-25 sM0-circle-border sM0-bg-imgs-center sM0-icon-d"></i>
            </div>
        </div>
    </div>
</div>
<!-- ! Designer Panel Start -->