<!-- Master Container -->
<div class='container-fluid p-0'>
    <div class='container-fluid p-0  '>
        <div class='row m-0 flex-nowrap~'>
            <!-- Col 2 -->
            <div id='sideMenuMainHolder' class='sM0-t2 col-2 pr-4~ xvx p-0'>
                <app-side-menu (toggelSideMenu)="toggelSideMenu($event)"></app-side-menu>
            </div>
            <!-- col-9 change -->
            <div class="col sM0-t2 p-0 mm">
                <app-nav-bar></app-nav-bar>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
