<app-modal></app-modal>
<div class="row align-items-center~ justify-content-center overflow-auto h-100">
    <!-- Property Status Card -->
    <div class='M0-mini-card pr-4 mb-4'>
        <div class='sM0-supp-1-bg h-100 p-4 sM0-bg-opacity-gold-25 sM0-f-radius'>
            <!-- Title -->
            <p class="sM0-text-0-cr mb-5 d-flex align-items-center sM0-fs-b-16">
                <i class="OM-img-propertystatus sM0-icon-d sM0-bg-imgs-center mr-2"></i>
                Property Status</p>
            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value='70'>
                <span class="progress-left">
                    <span class="progress-bar  border-primary~ OM-border-Progress"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-primary~ OM-border-Progress"></span>
                </span>
                <div
                    class="sM0-bg-opacity-gold-25 progress-value w-100 h-100 mb-0 rounded-circle d-flex justify-content-center">
                    <div class="h5 d-flex sM0-text-0-cr justify-content-center align-items-center sM0-fs-b-16">70%</div>
                </div>
            </div>
            <!-- END -->
            <p class="text-center mb-0 mt-4 sM0-text-0-cr sM0-fs-12">This Property Is</p>
            <p class="text-center mb-0 sM0-main-cr mb-4 sM0-fs-12">In Progress</p>
            <!-- BTN Status -->
            <div class='pb-3 d-flex justify-content-center'>
                <button [routerLink]='"/task/details/teamstatus/"+taskDetailsService.propID'
                    class="btn sM0-btn-w-160 d-flex justify-content-center align-items-center sM0-f-radius sM0-bg-opacity-gold-25 px-3 py-2">
                    <i class="OM-img-inprogress sM0-icon-d sM0-bg-imgs-center mr-3"></i>
                    <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-12">Team Status</p>
                </button>
            </div>
        </div>
    </div>
    <!-- Completed Card -->
    <div class='M0-mini-card pr-4 mb-4'>
        <!-- First Div -->
        <div class='sM0-bg-opacity-supp-1-5 sM0-text-0-cr w-100 h-100 sM0-f-radius p-4'>
            <!-- Title -->
            <p class="sM0-text-0-cr mb-5 d-flex align-items-center sM0-fs-b-16"><i
                    class="OM-img-rightwhite sM0-icon-d sM0-bg-imgs-center mr-2"></i>Completed</p>
            <!-- Roles -->
            <div class="sM0-supp-0-bg sM0-f-radius d-flex align-items-center mb-4 sM0-bg-opacity-green-5">
                <!-- account manager icon -->
                <div>
                    <i class="OM-img-profile d-block sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
                </div>
                <div class="pl-2">
                    <p class="mb-0 sM0-fs-mid-b-12">User Name</p>
                    <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex pl-1"><i
                            class="OM-img-design sM0-icon-e sM0-bg-imgs-center mr-1"></i>Designer</p>
                </div>
            </div>
            <!-- Secound Div -->
            <div class="sM0-supp-0-bg sM0-f-radius d-flex align-items-center sM0-bg-opacity-green-5">
                <!-- account manager icon -->
                <div>
                    <i class="OM-img-profile d-block sM0-icon-a~ sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
                </div>
                <div class="pl-2">
                    <p class="mb-0 sM0-fs-mid-b-12">User Name</p>
                    <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex pl-2"><i
                            class="OM-img-moderat sM0-icon-e sM0-bg-imgs-center mr-1"></i>C. Moderator</p>
                </div>
            </div>
        </div>
    
    </div>
    <!-- Members Card -->
    <div class='M0-mini-card pr-4 mb-4'>
        <div class='sM0-bg-opacity-supp-1-5 sM0-text-0-cr w-100 h-100 sM0-f-radius p-4 h-100'>
            <!-- Title -->
            <div>
                <p class="sM0-text-0-cr sM0-fs-b-16 mb-5 d-flex align-items-center"><i
                        class="OM-img-user sM0-icon-d sM0-bg-imgs-center mr-2"></i>Member</p>
            </div>
            <!-- TODO make it Scroller div -->
            <!-- Roles -->
            <div class="h-75 overflow-auto">
                <!-- Assign Button -->
                <div (click)="openModal()" class="sM0-click sM0-supp-0-bg sM0-f-radius d-flex align-items-center mb-4">
                    <!-- account manager icon -->
                    <div
                        class="sM0-img-c sM0-bg-opacity-green-25 sM0-circle-border d-flex justify-content-center align-items-center">
                        <i class="OM-img-plus sM0-icon-d"></i>
                    </div>
                    <div  class="pl-3">
                        <p class="mb-0 sM0-fs-mid-b-12">Assign User</p>
                    </div>
                </div>
                <!-- Users List -->
                <div *ngFor="let user of taskDetailsService?.assignedUsers" (click)='goToUserProfile(user.users_id)' class="sM0-click sM0-supp-0-bg sM0-f-radius d-flex align-items-center mb-4" >
                    <!-- account manager icon -->
                    <div class="">
                        <i [ngStyle]="{'background-image' : 'url('+ imageBaseURL + user.image +')'}" class="d-block sM0-icon-a~ sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
                    </div>
                    <div class="pl-2">
                        <p class="mb-0 sM0-fs-mid-b-12">{{user.name |  slice:0:10}}...</p>
                        <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex pl-1"><i
                                class="OM-img-design sM0-icon-e sM0-bg-imgs-center mr-1"></i>{{user.role_name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div>
    <!-- Comments Row -->
    <div class="d-flex sM0-f-radius w-100">
        <!-- Title -->
        <div class="w-100 py-4 pr-4 d-flex flex-column">
            <p class="sM0-text-0-cr pl-4 pb-4 m-0 sM0-fs-b-16 d-flex align-items-center"><i
                    class="OM-img-usertagcomment sM0-icon-d sM0-bg-imgs-center mr-2 sM0-text-0-cr"></i>Comments :</p>
            <input type="text" placeholder="Write a Comment..." class="sM0-fs-mid-b-12 sM0-f-radius p-4 sM0-supp-1-bg sM0-text-0-cr">
        </div>
    </div>
    <!-- Comment -->
    <div class="mb-4 w-100 pr-4">
        <div class='d-flex px-4'>
            <!-- User Comment Tag -->
            <div class="M0-comment-tag sM0-t-l-radius d-flex align-items-center sM0-bg-opacity-white-5">
                <i class="OM-img-profile sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
                <div class="d-flex flex-column ml-2">
                    <p class="mb-0 sM0-fs-mid-b-12 sM0-text-0-cr">User Name</p>
                    <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex ml-1"><i
                            class="OM-img-design sM0-icon-e sM0-bg-imgs-center mr-1"></i>Designer</p>
                </div>
            </div>
            <div class="sM0-supp-1-bg sM0-r-b-radius w-100 d-flex align-items-center px-4">
                <p class="mb-0 sM0-text-0-cr sM0-fs-12 py-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    
                </p>
            </div>
        </div>
    </div>
</div>
