<div class="row align-items-center justify-content-center overflow-auto h-100">
    <!-- Property Status Card -->
    <div class='M0-mini-card pr-4 mb-4'>
        <div class='sM0-supp-1-bg h-100 p-4 sM0-bg-opacity-gold-25 sM0-f-radius'>
            <!-- Title -->
            <p class="sM0-text-0-cr mb-5 d-flex align-items-center"><i
                    class="OM-img-propertystatus sM0-icon-c sM0-bg-imgs-center mr-2"></i>Property Status</p>
            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value='70'>
                <span class="progress-left">
                    <span class="progress-bar  border-primary~ OM-border-Progress"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-primary~ OM-border-Progress"></span>
                </span>
                <div
                    class="sM0-bg-opacity-gold-25 progress-value w-100 h-100 mb-0 rounded-circle d-flex justify-content-center">
                    <div class="h5 d-flex sM0-text-0-cr justify-content-center align-items-center">70%</div>
                </div>
            </div>
            <!-- END -->
            <p class="text-center mb-0 mt-3 sM0-text-0-cr">This Property Is</p>
            <p class="text-center mb-0 sM0-main-cr mb-4">In Progress</p>
            <!-- BTN Status -->
            <div class='mb-3 d-flex justify-content-center'>
                <button class="btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-bg-opacity-gold-25 p-2">
                    <p class="sM0-text-0-cr d-flex mb-0"><i
                            class="OM-img-inprogress sM0-icon-c sM0-bg-imgs-center mr-2"></i>Team Status</p>
                </button>
            </div>
        </div>
    </div>
    <!-- Completed Card -->
    <div class='M0-mini-card pr-4 mb-4'>
        <!-- First Div -->
        <div class='sM0-bg-opacity-supp-1-5 sM0-text-0-cr w-100 h-100 sM0-f-radius p-4'>
            <!-- Title -->
            <p class="sM0-text-0-cr mb-5 d-flex align-items-center"><i
                    class="OM-img-rightwhite sM0-icon-c sM0-bg-imgs-center mr-2"></i>Completed</p>
            <!-- Roles -->
            <div class="sM0-supp-0-bg sM0-f-radius d-flex align-items-center mb-4 sM0-bg-opacity-green-5">
                <!-- account manager icon -->
                <div>
                    <i class="OM-img-profile d-block sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
                </div>
                <div class="pl-3">
                    <p class="mb-0 sM0-fs-15">User Name</p>
                    <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex"><i
                            class="OM-img-design sM0-icon-e sM0-bg-imgs-center mr-1"></i>Designer</p>
                </div>
            </div>
            <!-- Secound Div -->
            <div class="sM0-supp-0-bg sM0-f-radius d-flex align-items-center sM0-bg-opacity-green-5">
                <!-- account manager icon -->
                <div>
                    <i class="OM-img-profile d-block sM0-icon-a~ sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
                </div>
                <div class="pl-3">
                    <p class="mb-0 sM0-fs-15">User Name</p>
                    <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex"><i
                            class="OM-img-moderat sM0-icon-e sM0-bg-imgs-center mr-1"></i>C. Moderator</p>
                </div>
            </div>
        </div>
    
    </div>
    <!-- Members Card -->
    <div class='M0-mini-card pr-4 mb-4'>
        <div class='sM0-bg-opacity-supp-1-5 sM0-text-0-cr w-100 h-100 sM0-f-radius p-4'>
            <!-- Title -->
            <div>
                <p class="sM0-text-0-cr mb-5 d-flex align-items-center"><i
                        class="OM-img-user sM0-icon-c sM0-bg-imgs-center mr-2"></i>Member</p>
            </div>
            <!-- Roles -->
            <div class="">
                <!-- First Div -->
                <div class="sM0-supp-0-bg sM0-f-radius d-flex align-items-center mb-4">
                    <!-- account manager icon -->
                    <div
                        class="sM0-img-c sM0-bg-opacity-green-25 sM0-circle-border d-flex justify-content-center align-items-center">
                        <i class="OM-img-plus sM0-icon-b"></i>
                    </div>
                    <div class="pl-3">
                        <p class="mb-0 sM0-fs-15">Assign User</p>
                    </div>
                </div>
                <!-- Secound Div -->
                <div class="sM0-supp-0-bg sM0-f-radius d-flex align-items-center mb-4">
                    <!-- account manager icon -->
                    <div class="">
                        <i class="OM-img-profile d-block sM0-icon-a~ sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
                    </div>
                    <div class="pl-3">
                        <p class="mb-0 sM0-fs-15">User Name</p>
                        <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex"><i
                                class="OM-img-design sM0-icon-e sM0-bg-imgs-center mr-1"></i>Designer</p>
                    </div>
                </div>
                <!-- Third Div -->
                <div class="sM0-supp-0-bg sM0-f-radius d-flex align-items-center mb-4">
                    <!-- account manager icon -->
                    <div class="">
                        <i class="OM-img-profile d-block sM0-icon-a~ sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
                    </div>
                    <div class="pl-3">
                        <p class="mb-0 sM0-fs-15">User Name</p>
                        <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex"><i
                                class="OM-img-moderat sM0-icon-e sM0-bg-imgs-center mr-1"></i>C.
                            Moderator</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Comments Row -->
    <div class="M0-micro-card d-flex sM0-bg-opacity-supp-1-5~ sM0-f-radius mb-3~ w-100 p-3~ ">
        <!-- Title -->
        <div class="w-100 p-0 d-flex flex-column justify-content-center">
            <p class="sM0-text-0-cr mb-3 d-flex align-items-center"><i
                    class="OM-img-usertagcomment sM0-icon-c sM0-bg-imgs-center mr-2"></i>Comments :</p>
            <input type="text" placeholder="Write a Comment..." class="sM0-f-radius p-4 sM0-supp-1-bg">
        </div>
    </div>
    <!-- Virtual Tour Row -->
    <div class="d-flex mb-4 w-100 px-4~">
        <!-- User Comment Tag -->
        <div class="M0-comment-tag sM0-t-l-radius d-flex align-items-center sM0-bg-opacity-white-5">
            <i class="OM-img-profile sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
            <div class="d-flex flex-column ml-3">
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr">User Name</p>
                <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex"><i
                        class="OM-img-design sM0-icon-e sM0-bg-imgs-center mr-1"></i>Designer</p>
            </div>
        </div>
        <div class="sM0-supp-1-bg sM0-r-b-radius w-100 d-flex align-items-center px-4">
            <p class="mb-0 sM0-text-0-cr sM0-fs-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum
                dolor sit amet</p>
        </div>
    </div>
    <!-- Virtual Tour Row -->
    <div class="d-flex mb-4 w-100 px-4~">
        <!-- User Comment Tag -->
        <div class="M0-comment-tag sM0-t-l-radius d-flex align-items-center sM0-bg-opacity-white-5">
            <i class="OM-img-profile sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
            <div class="d-flex flex-column ml-3">
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr">User Name</p>
                <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex"><i
                        class="OM-img-camera sM0-icon-e sM0-bg-imgs-center mr-1"></i>Designer</p>
            </div>
        </div>
        <div class="sM0-supp-1-bg sM0-r-b-radius w-100 d-flex align-items-center px-4">
            <p class="mb-0 sM0-text-0-cr sM0-fs-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <!-- Virtual Tour Row -->
    <div class="d-flex mb-4 w-100 px-4~">
        <!-- User Comment Tag -->
        <div class="M0-comment-tag sM0-t-l-radius d-flex align-items-center sM0-bg-opacity-white-5">
            <i class="OM-img-profile sM0-img-c sM0-circle-border sM0-bg-imgs-center"></i>
            <div class="d-flex flex-column ml-3">
                <p class="mb-0 sM0-fs-15 sM0-text-0-cr">User Name</p>
                <p class="sM0-main-cr sM0-fs-10 mb-0 d-flex"><i
                        class="OM-img-design sM0-icon-e sM0-bg-imgs-center mr-1"></i>Designer</p>
            </div>
        </div>
        <div class="sM0-supp-1-bg sM0-r-b-radius w-100 d-flex align-items-center px-4">
            <p class="mb-0 sM0-text-0-cr sM0-fs-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <!-- ! Start DashBoards Card -->
    <!-- Complete Card -->
    <div class='M0-mini-card pr-4 mb-4'>
        <div class='h-100 p-4 sM0-text-0-cr sM0-bg-opacity-green-25 sM0-f-radius'>
            <!-- Title -->
            <p class="sM0-text-0-cr mb-5 d-flex align-items-center"><i
                    class="OM-img-rightwhite sM0-icon-c sM0-bg-imgs-center mr-2"></i>Completed</p>
            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value='100'>
                <span class="progress-left">
                    <span class="progress-bar OM-border-Progress-green"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar OM-border-Progress-green"></span>
                </span>
                <div
                    class="sM0-bg-opacity-green-25 sM0-green-bg~ progress-value w-100 h-100 rounded-circle d-flex justify-content-center">
                    <div class="h5 d-flex sM0-text-0-cr justify-content-center align-items-center mb-0">
                        <i class="OM-img-rightwhite sM0-icon-c sM0-bg-imgs-center"></i>
                    </div>
                </div>
            </div>
            <!-- END -->
            <p class="text-center mb-0 mt-3">All Task</p>
            <p class="text-center mb-0 mb-4">Is <span class="sM0-green-cr">Completed</span></p>
        </div>
    </div>
    <!-- Property Status Card -->
    <div class='M0-mini-card pr-4 mb-4'>
        <div class='h-100 p-4 sM0-bg-opacity-green-25 sM0-text-0-cr sM0-f-radius'>
            <!-- Title -->
            <p class="sM0-text-0-cr mb-5 d-flex align-items-center"><i
                    class="OM-img-propertystatus sM0-icon-c sM0-bg-imgs-center mr-2"></i>Property Status</p>
            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value='100'>
                <span class="progress-left">
                    <span class="progress-bar OM-border-Progress-green"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar OM-border-Progress-green"></span>
                </span>
                <div
                    class="sM0-bg-opacity-green-25 sM0-green-bg~ progress-value w-100 h-100 rounded-circle d-flex justify-content-center">
                    <div class="h5 d-flex sM0-text-0-cr justify-content-center align-items-center mb-0">
                        <i class="OM-img-upload sM0-icon-c sM0-bg-imgs-center"></i>
                    </div>
                </div>
            </div>
            <!-- END -->
            <p class="text-center mb-0 mt-3">This Property</p>
            <p class="text-center mb-0 mb-4">Is <span class="sM0-green-cr">Live</span> Now</p>
        </div>
    </div>
    <!-- Members Card -->
    <div class='M0-mini-card pr-4 mb-4'>
        <div class='sM0-bg-opacity-supp-1-5 sM0-text-0-cr h-100 p-4 sM0-f-radius d-flex flex-column'>
            <!-- Title -->
            <p class="sM0-text-0-cr mb-5 d-flex align-items-center"><i
                    class="OM-img-user sM0-icon-c sM0-bg-imgs-center mr-2"></i>Member</p>
            <!-- Assign Icon -->
            <div class="progress mx-auto" data-value='100'>
                <div
                    class="sM0-bg-opacity-green-25 progress-value w-100 h-100 rounded-circle d-flex justify-content-center">
                    <div class="h5 d-flex sM0-text-0-cr justify-content-center align-items-center mb-0">
                        <i class="OM-img-plus sM0-icon-c sM0-bg-imgs-center"></i>
                    </div>
                </div>
            </div>
            <!-- END -->
            <p class="text-center my-3"><span class="sM0-danger-cr"> No Members </span>To Complete Your Tasks You Have To
            </p>
            <!-- BTN Status -->
            <div class='mb-3 d-flex justify-content-center'>
                <button class="btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-bg-opacity-green-25 p-2">
                    <p class="sM0-text-0-cr d-flex mb-0"><i
                            class="OM-img-plus sM0-icon-c sM0-bg-imgs-center mr-2"></i>Assign User</p>
                </button>
            </div>
        </div>
    </div>
    <!-- Property Status Card -->
    <div class='M0-mini-card pr-4 mb-4'>
        <div class='h-100 p-4 sM0-text-0-cr sM0-bg-opacity-white-25 sM0-f-radius'>
            <!-- Title -->
            <p class="sM0-text-0-cr mb-5 d-flex align-items-center"><i
                    class="OM-img-propertystatus sM0-icon-c sM0-bg-imgs-center mr-2"></i>Property Status</p>
            <!-- Progress bar 1 -->
            <div class="progress mx-auto mb-3" data-value='100'>
                <span class="progress-left">
                    <span class="progress-bar OM-border-Progress-green"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar OM-border-Progress-green"></span>
                </span>
                <div
                    class="sM0-bg-opacity-green-25 progress-value w-100 h-100 rounded-circle d-flex justify-content-center">
                    <div class="h5 d-flex sM0-text-0-cr justify-content-center align-items-center mb-0">
                        <p class="mb-0">100%</p>
                    </div>
                </div>
            </div>
            <!-- END -->
            <p class="text-center mb-0 mb-4 sM0-fs-15">Our Property Is <span class="sM0-green-cr">Ready</span> To Publish
            </p>
            <!-- BTN Status -->
            <div class='mb-3 d-flex justify-content-center'>
                <button class="btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-bg-opacity-white-25 p-2">
                    <p class="sM0-text-0-cr d-flex mb-0"><i
                            class="OM-img-upload sM0-icon-c sM0-bg-imgs-center mr-2"></i>Publish</p>
                </button>
            </div>
        </div>
    </div>
    <!-- ! End DashBoard Card -->
</div>