.OM-icon-user {
  background-image: url("/assets/Icons/User.svg");
}
.OM-icon-gender {
  background-image: url("/assets/Icons/Gender.svg");
}
.OM-icon-calender {
  background-image: url("/assets/Icons/Calender.svg");
}
