<div class='container-fluid pr-0 m-0 h-100 M0-cards-holder'>
  <div class='row mx-0 mt-0 justify-content-center'>
    <div class='col-xl-6 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card~ p-0 mb-4'>
      <form *ngIf='settingsService.userData'  #personalInfo="ngForm" (ngSubmit)="onSubmit(personalInfo)" class=''>
        <!-- User Name Input -->
        <div class="sM0-notActive w-100 d-flex sM0-inp-h-49 mb-4">
          <div
            class='sM0-supp-0-bg sM0-t-l-radius d-flex px-4 align-items-center'>
            <i class="OM-icon-user sM0-icon-d"></i>
          </div>
          <div class="col p-0">
            <input ngModel disabled #userName="ngModel" name='username' required [(ngModel)]='settingsService.userData.username' type="text" placeholder="User Name..." class="sM0-text-0-cr pl-4 h-100 w-100 sM0-supp-1-bg sM0-r-b-radius">
          </div>
        </div>
        <!-- First Name -->
        <div class="w-100 d-flex sM0-inp-h-49 mb-4">
          <div class='sM0-supp-0-bg sM0-t-l-radius px-4 d-flex align-items-center'>
            <i class="OM-icon-user sM0-icon-d "></i>
          </div>
          <div class="col p-0">
            <input ngModel #firstName="ngModel" name='name' required  [(ngModel)]='this.settingsService.userData.name' type="text" placeholder="First name..." class=" sM0-text-0-cr pl-4 h-100 w-100 sM0-supp-1-bg sM0-r-b-radius">
          </div>
        </div>
        <!-- Last Name -->
        <div class="w-100 d-flex sM0-inp-h-49 mb-4">
          <div class='sM0-supp-0-bg sM0-t-l-radius px-4 d-flex align-items-center'>
            <i class="OM-icon-user sM0-icon-d "></i>
          </div>
          <div class="col p-0">
            <input ngModel  #lastName="ngModel" name='last_name' required  [(ngModel)]='this.settingsService.userData.last_name' type="text" placeholder="Last Name..." class=" sM0-text-0-cr pl-4 h-100 w-100 sM0-supp-1-bg sM0-r-b-radius">
          </div>
        </div>
        <!-- Gender -->
        <div class="w-100 d-flex sM0-inp-h-49 mb-4">
          <div
            class='sM0-supp-0-bg sM0-t-l-radius d-flex px-4 align-items-center'>
            <i class="OM-icon-gender sM0-icon-d"></i>
          </div>
          <div class='col p-0'>
            <select ngModel name='gender' #gender="ngModel" [(ngModel)]='this.settingsService.userData.gender' required
              class='sM0-text-0-cr pl-4 round w-100 h-100 sM0-text-0-cr sM0-supp-1-bg sM0-r-b-radius w-100 sM0-border-none px-3'>
              <option value="null" disabled selected>
                Gender...
              </option>
              <option [value]="gendersv[i]" *ngFor='let gender of genders index as i;' [selected]='gendersv[i] == this.settingsService.userData?.gender'>
                {{gender}}
              </option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-end sM0-inp-h-49">
          <button type="submit"  class="sM0-f-radius w-25 sM0-main-cr sM0-supp-1-bg sM0-border-none">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>