/* Profile Information */
/* Cards */
.OM-img-src {
  background-image: url("/assets/Home/Home.jpg");
}
.OM-img-location {
  background-image: url("/assets/Icons/Location.svg");
}
.OM-img-Locationgold {
  background-image: url("/assets/Icons/Locationgold.svg");
}
.OM-img-edit {
  background-image: url("/assets/Icons/Edit.svg");
}
.OM-img-progress {
  background-image: url("/assets/Icons/Inprogress.svg");
}
.OM-img-call {
  background-image: url("/assets/Icons/callwhite.svg");
}
.OM-img-Exclamation {
  background-image: url("/assets/Icons/Exclamation.svg");
}
.OM-img-Plus {
  background-image: url("/assets/Icons/Plus.svg");
}
.OM-img-alarm {
  background-image: url("/assets/Icons/Alarm.svg");
}
.OM-img-alarm-red {
  background-image: url("/assets/Icons/alarmRed.svg");
}
.OM-img-right {
  background-image: url("/assets/Icons/Right.svg");
}
.OM-img-rightwhite {
  background-image: url("/assets/Icons/rightwhite.svg");
}
.OM-img-thunder {
  background-image: url("/assets/Icons/Thunder.svg");
}
.OM-img-thunderwhite {
  background-image: url("/assets/Icons/thunderwhite.svg");
}
.OM-img-wrong {
  background-image: url("/assets/Icons/wrong.svg");
}
.OM-img-upload {
  background-image: url("/assets/Icons/Upload.svg");
}
.OM-img-attachment {
  background-image: url("/assets/Icons/Attachment.svg");
}
.OM-img-comment {
  background-image: url("/assets/Icons/Comment.svg");
}
.OM-img-list {
  background-image: url("/assets/Icons/List.svg");
}
.OM-icon-call-holder {
  width: 40px;
  height: 40px;
  top: 15px;
}
.OM-icon-profile-holder {
  width: 40px;
  height: 63px;
  left: 10%;
}
.OM-icon-timer-holder {
  width: 8vw;
  height: 50px;
}
/* Profile Information And Tasks Card Report */
.OM-img-profile {
  background-image: url("/assets/Profile/profile1.jpg");
  border: 3px solid #e9c46a;
}
.OM-img-acc {
  background-image: url("/assets/Profile/profile1.jpg");
}
.OM-img-location {
  background-image: url("/assets/Icons/Location.svg");
}
.OM-img-green-call {
  background-image: url("/assets/Icons/Call.svg");
}
.OM-img-facebook {
  background-image: url("/assets/Icons/Facebook.svg");
}
.OM-img-twitter {
  background-image: url("/assets/Icons/Twitter.svg");
}
.OM-img-profile-holder {
  width: 31.5% !important;
}
.OM-Icons-Holder {
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}
.M0-profile-card {
  height: 385px;
}
/* Scroller */
.M0-card-for-status {
  height: 193px;
  width: 100%;
}
@media (min-width: 1200px) {
  .M0-card-for-status {
    height: 385px;
    min-width: 290px !important;
    max-width: 290px !important;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .M0-card-for-status {
    height: 385px;
    min-width: 290px !important;
    max-width: 290px !important;
  }
}
.M0-border-black {
  border: 2px solid rgba(20, 20, 20, 0.8) !important;
}
