<app-modal></app-modal>
<!-- Content Container -->
<div class='container-fluid pr-0 m-0 h-100 M0-cards-holder'>
    <div class='row flex-wrap pl-4 mx-0 justify-content-center'>
        <!-- USER TAG Section -->
        <div class='d-flex flex-xl-nowrap flex-wrap w-100'>
            <!-- user Info -->
            <div class='d-flex flex-md-row flex-column sM0-supp-0-bg sM0-f-radius mb-4 mr-4 align-items-center w-100'>
                <!-- Profile Image -->
                <div [ngStyle]="userProfile ? authService.user?.data?.image ? {'background-image' : 'url('+ imageBaseURL + authService.user?.data?.image +')'} : {'background-image' : 'url(/assets/Icons/new-user.svg)'} : teamService.oneUser?.image ? {'background-image' : 'url('+ imageBaseURL + teamService.oneUser?.image +')'} :  {'background-image' : 'url(/assets/Icons/new-user.svg)'} "
                 class="M0-card OM-img-profile~ d-flex justify-content-center align-items-end pb-4 sM0-bg-imgs-center sM0-f-radius  mt-md-0 mt-sm-4 mt-0">
                    <!-- upload image -->
                    <label *ngIf='userProfile' class='m-0' for="image">
                        <i class="OM-img-upload-image sM0-bg-opacity-supp-1-5  sM0-f-radius px-5 py-4 sM0-icon-c sM0-bg-imgs-center d-inline-block sM0-click"></i>
                    </label>
                        <input #imageInp (change)='uploadMyImage($event)' name="image" type="file" id="image" class="d-none">
                </div>
                <!-- Profile Information -->
                <div  class='M0-profile-card p-4 overflow-hidden d-md-block~ d-flex flex-column align-items-md-start align-items-center w-100'>
                    <!-- User name and contacts -->
                    <div class="d-md-flex d-block align-items-center flex-wrap pb-2 w-100">
                        <!-- name -->
                        <p *ngIf='!editMyInfo' class="sM0-main-cr sM0-fs-b-24 m-0 my-md-2 my-4 text-md-left text-center" [textContent]='userProfile ? authService.user?.data.name : teamService.oneUser?.name'></p>
                        <input id='userNameInp' class='py-2 px-4 sM0-supp-1-bg border-0 sM0-main-cr m-0 my-md-2 my-4 sM0-fs-b-24 text-md-left text-center sM0-f-radius' *ngIf='editMyInfo' type="text" value="{{ authService.user?.data.name}}">
                        <!-- Group Icons -->
                        <div class="d-flex ml-auto justify-content-center  my-md-2 my-4">
                            <!-- Call Icon -->
                            <a *ngIf='userProfile ? authService.user?.data.phone : teamService.oneUser.phone ' [href]='userProfile ? authService.user?.data.phone : teamService.oneUser.phone'>
                                <i
                                    class="OM-img-green-call sM0-bg-opacity-green-25 sM0-circle-border p-4 sM0-icon-c sM0-bg-imgs-center d-inline-block">
                                </i>
                            </a>
                            <!-- Twiiter Icon -->
                            <a *ngIf='userProfile ? authService.user?.data.tw : teamService.oneUser.tw' [href]='userProfile ? authService.user?.data.tw : teamService.oneUser.tw'>
                                <i class="OM-img-twitter sM0-bg-opacity-blue-25 sM0-circle-border p-4 mx-4 sM0-icon-c sM0-bg-imgs-center d-inline-block"></i>
                            </a>
                            <!-- Facebook Icon -->
                            <a *ngIf='userProfile ? authService.user?.data.fb : teamService.oneUser.fb' [href]='userProfile ? authService.user?.data.fb : teamService.oneUser.fb'>
                            <i
                            class="OM-img-facebook sM0-bg-opacity-blue-25 sM0-circle-border p-4 sM0-icon-c sM0-bg-imgs-center d-inline-block"></i>
                            </a>
                        </div>
                    </div>
                    <!-- user Roul -->
                    <p class="sM0-text-0-cr sM0-fs-16 ml-md-4 text-md-left text-center mt-2" [textContent]='userProfile ? authService.user?.data.role_name : teamService.oneUser?.role_name'></p>
                    <!-- user location -->
                    <div class="d-flex ml-md-4 mt-3 justify-content-center align-items-center">
                        <i class="OM-img-location sM0-icon-c sM0-bg-imgs-center mr-2"></i>
                        <p *ngIf='!editMyInfo' class="sM0-text-0-cr sM0-fs-16 text-md-left text-center m-0" #location [textContent]='userProfile ? authService.user?.data.address : teamService.oneUser?.address'></p>
                        <input id='userLocInp' class='py-2 px-4 w-100 sM0-supp-1-bg border-0 sM0-fs-16 sM0-text-0-cr sM0-f-radius' *ngIf='editMyInfo' type="text" [value]="teamService.oneUser ? teamService.oneUser.address : authService.user?.data.address">
                    </div>
                    <!-- User Bio -->
                    <div class='ml-md-4 mt-4 w-100 pr-4'>
                        <p *ngIf='!editMyInfo' #bio class="sM0-text-0-cr sM0-fs-16 text-md-left text-center">
                            <!-- {{authService.user?.data.bio ? authService.user?.data.bio : "Type your Bio..."}} -->
                            {{userProfile ? authService.user?.data.bio ? authService.user?.data.bio : "Type your Bio..." : teamService.oneUser?.bio ? teamService.oneUser?.bio : "No Bio !"}}
                            <!-- <span *ngIf='authService.user?.data.bio'><a href="#" class="sM0-main-cr">MORE...</a></span> -->
                        </p>
                        <textarea maxlength="40" id='userBioInp' *ngIf='editMyInfo'  class='sM0-fs-16 sM0-f-radius py-3 px-4 w-100 sM0-supp-1-bg border-0 sM0-text-0-cr w-100'>{{authService.user?.data.bio ? authService.user?.data.bio : "Type your Bio..."}}</textarea>
                    </div>
                    <!-- Edit Button -->
                    <div *ngIf='userProfile' class="mt-auto w-100">
                        <button (click)='editMyInfo = !editMyInfo; saveMyInfo(btnTextContent.textContent)'
                        [class.sM0-main-bg]='editMyInfo' [class.sM0-bg-opacity-gray-90]='!editMyInfo'
                            class="btn mx-auto sM0-btn-w-160 d-flex justify-content-center align-items-center sM0-f-radius px-3 py-2">
                            <i class="OM-img-edit sM0-icon-d py-3 sM0-bg-imgs-center mr-3" [class.d-none]='editMyInfo' [class.d-inline-block]='!editMyInfo'></i>
                            <p #btnTextContent class="m-0 pt-1 sM0-text-0-cr sM0-fs-b-16" [textContent]='editMyInfo ? "Save" : "Edit"'></p>
                        </button>
                    </div>
                </div>                
            </div>
            <!-- Taskes statistics Cards -->
            <div class='M0-card-for-status container-fluid p-0 pr-4 mb-xl-0 mb-sm-4 mb-0 sM0-text-0-cr sM0-f-radius d-flex flex-xl-column flex-sm-row flex-column align-items-center'>
                <!-- Row A -->
                <div class="row m-sm-0 justify-content-center text-center w-100 h-100 mb-xl-4 mb-4">
                    <!-- In-Progress Section -->
                    <div
                    (click)='getPropsByStatus("inProgress")'
                     class="sM0-click col p-0 mr-xl-0 mr-sm-4 mr-0 static-cards sM0-f-radius">
                        <div class=" sM0-fs-mid-b-12 px-4 sM0-supp-1-bg sM0-t-r-radius h-50 d-flex justify-content-center align-items-center">
                            In-Progress</div>
                        <div
                            class="d-flex position-absolute OM-Icons-Holder sM0-circle-border sM0-bg-opacity-dark-25 justify-content-center align-items-center">
                            <i class="OM-img-alarm sM0-icon-d sM0-bg-imgs-center d-inline-block"></i>
                        </div>
                        <div
                            class=" M0-border-black sM0-bg-opacity-white-25 sM0-b-l-radius h-50 d-flex justify-content-center align-items-center"
                            [textContent]='userProfile ? authService.user?.data.inProgress : teamService.oneUser?.inProgress'
                            ></div>
                    </div>
                    <div class='pr-4 d-xl-block d-sm-none d-block'></div>
                    <!-- Didn't Started yet Section -->
                    <div
                     (click)='getPropsByStatus("pending")'
                     class="sM0-click col p-0 mr-xl-0 mr-sm-4 mr-0 static-cards sM0-f-radius">
                        <div class="sM0-fs-mid-b-12 px-4 sM0-supp-1-bg sM0-t-r-radius h-50 d-flex justify-content-center align-items-center">Pinding</div>
                        <div
                            class="d-flex position-absolute OM-Icons-Holder sM0-circle-border sM0-bg-opacity-gold-25 justify-content-center align-items-center">
                            <i class="OM-img-thunderwhite sM0-icon-d sM0-bg-imgs-center d-inline-block"></i>
                        </div>
                        <div
                            class=" M0-border-black sM0-bg-opacity-gold-25 sM0-b-l-radius h-50 d-flex justify-content-center align-items-center sM0-main-cr"
                            [textContent]='userProfile ? authService.user?.data.pending : teamService.oneUser?.pending'>
                        </div>
                    </div>
                </div>
                <!-- Row B -->
                <div class="row m-sm-0 mb-4 justify-content-center text-center w-100 h-100">
                    <!-- Didn'y Finished yet Section -->
                    <div class="col p-0 mr-xl-0 mr-sm-4 mr-0 static-cards sM0-f-radius">
                        <div
                        (click)='getPropsByStatus("expired")'
                         class="sM0-click sM0-fs-mid-b-12 px-4 sM0-supp-1-bg sM0-t-r-radius h-50 d-flex justify-content-center align-items-center">Expired</div>
                        <div
                            class="d-flex position-absolute OM-Icons-Holder sM0-circle-border sM0-bg-opacity-red-25 justify-content-center align-items-center">
                            <i class="OM-img-alarm sM0-icon-d sM0-bg-imgs-center d-inline-block"></i>
                        </div>
                        <div
                            class="M0-border-black sM0-bg-opacity-red-25 sM0-b-l-radius h-50 d-flex justify-content-center align-items-center sM0-danger-cr"
                            [textContent]="userProfile ? authService.user?.data.expired : teamService.oneUser?.expired"
                            >
                            </div>
                    </div>
                    <div class='pr-4 d-xl-block d-sm-none d-block'></div>
                    <!-- Completed Section -->
                    <div (click)='getPropsByStatus("publish")' class="col p-0 mr-xl-0 sM0-click static-cards sM0-f-radius">
                        <div class="sM0-fs-mid-b-12 px-4 sM0-supp-1-bg sM0-t-r-radius h-50 d-flex justify-content-center align-items-center">
                            Completed
                        </div>
                        <div
                            class="d-flex position-absolute OM-Icons-Holder sM0-circle-border sM0-bg-opacity-green-25 justify-content-center align-items-center">
                            <i class="OM-img-rightwhite sM0-icon-d sM0-bg-imgs-center d-inline-block"></i>
                        </div>
                        <div class="M0-border-black sM0-bg-opacity-green-25 sM0-b-l-radius h-50 d-flex justify-content-center align-items-center sM0-green-cr"
                            [textContent]="userProfile ? authService.user?.data.completed : teamService.oneUser?.completed">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Assign Task Card -->
        <ng-container>
            <div *ngFor='let task of userTaskService.userTasks  | paginate:{
                                                        itemsPerPage: userTaskService.pagination?.perPage,
                                                        currentPage: userTaskService.pagination?.currentPage,
                                                        totalItems: userTaskService.pagination?.total } let i = index' class='pl-0 d-inline-block  M0-card  pr-4 mb-4'>
                <div (click)='getPropById(task.id)'  class='sM0-click sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center'>
                    <!-- Image Profile -->
                    <div 
                        [ngStyle]="{'background-image' : 'url('+ task?.images +')'}"
                    class="OM-img-src sM0-bg-imgs-center sM0-img-a sM0-t-r-radius mb-4 d-flex justify-content-end w-100 position-relative">
                        <!-- Over Layer -->
                        <div class="sM0-opacity-4 sM0-supp-0-bg h-100 w-100  position-absolute sM0-t-r-radius"></div>
                        <!-- acount manager icon -->
                        <div class="sM0-bg-opacity-gray-90 sM0-b-l-radius OM-icon-profile-holder position-absolute d-flex justify-content-center align-items-end">
                            <!-- <i class="OM-a-acc sM0-circle-border mb-1 sM0-bg-imgs-center d-inline-block"></i> -->
                            <!-- no account manager -->
                            <i *ngIf='!task.tasks.AM'
                            (click)='openPopUp($event, task, 3)' class="iM0-icon-accountManger-white sM0-click sM0-icon-d sM0-bg-imgs-center sM0-circle-border mb-2 d-inline-block"></i>
                            <!-- there is account manager -->
                            <i *ngIf='task.tasks.AM'
                            [ngStyle]="{'background-image' : 'url('+ imageBaseURL + task?.tasks?.AM.image +')'}"
                            (click)='openPopUp($event, task, 3)' class="iM0-icon-accountManger-white sM0-click sM0-icon-c sM0-bg-imgs-center sM0-circle-border mb-2 d-inline-block"></i>
                        </div>
                        <!-- Timer icon, Property Status -->
                        <div
                        [class.sM0-bg-opacity-gold-5]='task?.post_status == "pending"' [class.sM0-bg-opacity-green-5]='task?.post_status == "publish"'
                        class="sM0-text-0-cr sM0-f-radius py-2 sM0-btn-w-160 position-absolute d-flex justify-content-center align-items-center m-3">
                            <!-- <i class="OM-img-alarm sM0-icon-d py-3 sM0-bg-imgs-center d-inline-block mr-3"></i> -->
                            <!-- <p class="m-0 pt-1 sM0-fs-b-16 sM0-font-clock">0 0 : 0 0</p> -->
                            <p class="m-0 sM0-fs-12 sM0-font-clock~">{{task?.post_status}} <span class='bg-white sM0-text-1-cr sM0-fs-10 sM0-f-radius px-2 ml-4 py-1'>{{task?.id}}</span></p>
                        </div>
                        <div 
                        class="sM0-text-0-cr sM0-f-radius py-2 position-absolute d-flex justify-content-center align-items-center m-3 mr-4~ mt-5">
                            <p [class.sM0-bg-opacity-gold-5]='task?.post_status == "pending"' [class.sM0-bg-opacity-green-5]='task?.post_status == "publish"'
                            class="m-0 mt-3 ml-2 px-3 py-1 sM0-fs-10 sM0-text-0-cr sM0-f-radius ">{{task?.category}} <span class='sM0-supp-1-bg sM0-text-0-cr sM0-fs-10 sM0-f-radius px-2 ml-2 py-1'>{{task?.type}}</span></p>
                        </div>
                        <!-- call icon -->
                        <div class=" align-self-end sM0-bg-opacity-green-90 sM0-f-radius OM-icon-call-holder position-relative d-flex justify-content-center align-items-center mr-3">
                            <i class="OM-img-call sM0-icon-d sM0-bg-imgs-center d-inline-block"></i>
                        </div>
                    </div>
                    <!-- property content -->
                    <div class='d-flex flex-column align-items-center px-4'>
                        <!-- Card name -->
                        <p class=" sM0-text-0-cr mb-2 text-center sM0-fs-b-16 text-capitalize">{{task.title | slice:0:25 }}...</p>
                        <!-- user -->
                        <div class="d-flex justify-content-center pb-2">
                            <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center sM0-fs-16 text-capitalize">{{task?.agent_name}}, {{task?.agency_name}}</p>
                        </div>
                        <!-- Location -->
                        <div class="d-flex justify-content-center align-items-center pb-2">
                            <i class="OM-img-Locationgold sM0-icon-d sM0-bg-imgs-center"></i>
                            <p class="sM0-main-cr d-inline-block mb-0 ml-2 text-center sM0-fs-16" [textContent]='task.city'></p>
                        </div>
                        <!-- Cards Buttons -->
                        <div class='pb-3 d-flex'>
                            <!-- assigned dubiAdmin -->
                            <button *ngIf='task?.tasks?.DA' (click)='openPopUp($event, task, 2)'
                                class="btn d-flex justify-content-center align-items-center p-0 sM0-inp-hw-40 sM0-circle-border sM0-supp-1-bg mr-2">
                                <i class="iM0-icon-dubiAdmin-white sM0-icon-d sM0-bg-imgs-center"></i>
                            </button>
                            <!-- assigned Photographer -->
                            <button *ngIf='task?.tasks?.PH' (click)='openPopUp($event, task , 4)'
                                class="btn d-flex justify-content-center align-items-center p-0 sM0-inp-hw-40  sM0-circle-border sM0-supp-1-bg mr-2">
                                <i class="iM0-icon-camera-white  sM0-icon-d sM0-bg-imgs-center"></i>
                            </button>
                            <!-- assigned Designer -->
                            <button *ngIf='task?.tasks?.GD' (click)='openPopUp($event, task , 5)'
                                class="btn d-flex justify-content-center align-items-center p-0 sM0-inp-hw-40  sM0-circle-border sM0-supp-1-bg mr-2">
                                <i class="iM0-icon-designers-white  sM0-icon-d sM0-bg-imgs-center"></i>
                            </button>
                            <!-- assigned Content Creator -->
                            <button *ngIf='task?.tasks?.CM' (click)='openPopUp($event, task, 6)'
                                class="btn d-flex justify-content-center align-items-center p-0 sM0-inp-hw-40  sM0-circle-border sM0-supp-1-bg mr-2">
                                <i class="iM0-icon-contentManger-white  sM0-icon-d sM0-bg-imgs-center"></i>
                            </button>
                            <!-- assign user small button -->
                            <ng-container *ngIf='!(task?.tasks?.CM != 0 && task?.tasks?.GD != 0 && task?.tasks?.PH != 0 && task?.tasks?.DA != 0)'>
                                <button *ngIf='task?.tasks_status == "2" && task?.tasks?.CM || task?.tasks?.GD || task?.tasks?.PH || task?.tasks?.DA' (click)='openPopUp($event, task, 2)'
                                    class="btn d-flex justify-content-center align-items-center p-0 sM0-inp-hw-40  sM0-circle-border sM0-bg-opacity-green-25 mr-2">
                                    <i class="OM-img-Plus sM0-icon-d sM0-bg-imgs-center"></i>
                                </button>
                            </ng-container>
                            <!-- assign user Larg button (inProgress = 2) -->
                            <button  *ngIf='task?.tasks_status == "2" && task?.tasks?.CM == 0 && task?.tasks?.GD == 0 && task?.tasks?.PH == 0 && task?.tasks?.DA == 0' (click)='openPopUp($event, task, 2);'
                                class="btn sM0-btn-w-160 d-flex justify-content-center align-items-center sM0-f-radius sM0-bg-opacity-green-25 px-3 py-2">
                                <i class="OM-img-Plus sM0-icon-d sM0-bg-imgs-center mr-3"></i>
                                <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-12">Assign User</p>
                            </button>
                            <!-- start button (pinding = 1) -->
                            <ng-container *ngIf='task?.tasks_status == "1"'>
                                <button (click)='startTask($event, task?.id)'
                                    class="btn sM0-btn-w-100 d-flex justify-content-center align-items-center sM0-t-l-radius sM0-bg-opacity-gold-25 pl-2 py-2">
                                    <i class="OM-img-thunder sM0-icon-d sM0-bg-imgs-center mr-2"></i>
                                    <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-12">Start</p>
                                </button>
                                <!-- cancle button -->
                                <button
                                    class="btn sM0-btn-w-65 d-flex justify-content-center align-items-center sM0-r-b-radius sM0-bg-opacity-red-25 ml-2 pr-4 py-2">
                                    <i class="OM-img-wrong sM0-icon-d sM0-bg-imgs-center"></i>
                                </button>
                            </ng-container>
                            <!-- complete button (complete = 4) -->
                            <button *ngIf='task?.tasks_status == "4"'
                                class="btn sM0-btn-w-160 d-flex justify-content-center align-items-center sM0-f-radius sM0-bg-opacity-green-25~ px-3 py-2">
                                <i class="OM-img-right sM0-icon-d sM0-bg-imgs-center mr-3"></i>
                                <p class="sM0-text-0-cr d-inline-block mb-0 sM0-fs-12">Completed</p>
                            </button>
                        </div>
                    </div>
                    <!-- Progress Bar -->
                    <div  class="progress w-75 sM0-f-radius sM0-supp-1-bg">
                        <div *ngIf='task?.post_status == "pending"' class="progress-bar sM0-smoke-bg d-flex align-items-end px-2 sM0-f-radius" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            0%
                        </div>
                        <div *ngIf='task?.post_status == "publish"' class="progress-bar sM0-green-bg align-items-center d-flex align-items-end px-2 sM0-f-radius" style="width: 100%" role="progressbar"  aria-valuenow="100" aria-valuemin="100" aria-valuemax="100">
                            Live Now
                        </div>
                    </div>
                    <!-- inner ICONS -->
                    <!-- <div class="w-75 d-flex justify-content-end pt-3">
                        <i class="OM-img-list sM0-icon-e sM0-bg-imgs-center d-inline-block "></i>
                        <i class="OM-img-attachment sM0-icon-e sM0-bg-imgs-center d-inline-block ml-2"></i>
                        <i class="OM-img-comment sM0-icon-e sM0-bg-imgs-center d-inline-block ml-2"></i>
                    </div> -->
                </div>
            </div>
        </ng-container>
        <!-- last cards -->
        <div class='M0-card-none'></div>
        <div class='M0-card-none'></div>
        <div class='M0-card-none'></div>
        <div class='M0-card-none'></div>
    </div>
    <!-- pagination -->
    <div class='container-fluid d-flex justify-content-center py-4 sM0-smoke-bg sM0-main-cr'>
        <div class='row'>
            <div class='col'>
                <pagination-controls 
                previousLabel="Prev" 
                nextLabel="Next" 
                responsive="true"
                maxSize="5"
                autoHide="true"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"
                (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>