<!-- Content Container -->
<div class='container-fluid pr-0 m-0 px-5 h-100'>
  <div class='row flex-wrap mx-0 p-0 h-100 overflow-auto~ sM0-supp-0-bg sM0-f-radius'>
    <!-- Task Side COntent -->
    <div class='row flex-wrap mx-0 p-0 h-100 sM0-supp-0-bg sM0-f-radius'>
      <!-- Task Side Data -->
      <div class="M0-mini-container-side-data h-100">
        <app-side-content></app-side-content>
      </div>
    </div>
    <!-- Task Details -->
    <div class="col d-flex flex-wrap h-100 justify-content-center p-0 pt-4 px-4">
      <div class="container h-100">
        <!-- task  Details -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
