<!-- Content Container -->
<div class='container-fluid pr-0 m-0 h-100 M0-cards-holder'>
    <div class='row mx-0 mt-0'>
        <!--  Dummy Cards  -->
        <!-- User In-Progress Card -->
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0  M0-card  pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center pt-4'>
                <!-- Image Profile -->
                <div class="OM-img-src sM0-white-border sM0-bg-imgs-center sM0-img-b sM0-f-radius mb-4 d-flex justify-content-end align-items-end">
                    <div class="sM0-bg-opacity-green-90 sM0-f-radius OM-icon-call-holder position-relative d-flex justify-content-center align-items-center">
                        <i class="OM-img-call sM0-icon-d sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                </div>
                <!-- Username Header -->
                <p class=" sM0-text-0-cr sM0-opacity-50 mb-3 h5">Name Username</p>
                <!-- Job Title -->
                <p class=" sM0-text-0-cr sM0-opacity-50 mb-3">Graphic Designer</p>
                <!-- Location -->
                <div class="d-flex justify-content-center">
                    <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mb-3"></i>
                    <p class="sM0-main-cr d-inline-block mb-0 ml-2">Egypt, Cairo</p>
                </div>
                <!-- Inprogress Task -->
                <button class="btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-supp-1-bg sM0-opacity-50 px-4 py-2 mb-3">
                    <i class="OM-img-progress sM0-icon-c sM0-bg-imgs-center"></i>
                    <p class="sM0-text-0-cr d-inline-block mb-0 ml-2">In-Progress</p>
                </button>
                <!-- Progress Bar -->
                <div class="progress w-75 sM0-f-radius sM0-supp-1-bg">
                    <div class="progress-bar sM0-smoke-bg d-flex align-items-end" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        70%
                    </div>
                </div>
            </div>
        </div>
        <!-- User Report Card -->
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center pt-4'>
                <!-- Image Profile -->
                <div class="OM-img-src sM0-red-border sM0-bg-imgs-center sM0-img-b sM0-f-radius mb-4 d-flex justify-content-end align-items-end">
                    <div class="sM0-bg-opacity-green-90 sM0-f-radius OM-icon-call-holder position-relative d-flex justify-content-center align-items-center">
                        <i class="OM-img-call sM0-icon-d sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                </div>
                <!-- Username Header -->
                <p class=" sM0-text-0-cr sM0-opacity-50 mb-3 h5">Name Username</p>
                <!-- Job Title -->
                <p class=" sM0-text-0-cr sM0-opacity-50 mb-3">Graphic Designer</p>
                <!-- Location -->
                <div class="d-flex justify-content-center">
                    <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mb-3"></i>
                    <p class="sM0-main-cr d-inline-block mb-0 ml-2">Egypt, Cairo</p>
                </div>
                <!-- Inprogress Task -->
                <button class="btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-bg-opacity-red-25 px-0 py-2 mb-3">
                        <i class="OM-img-Exclamation sM0-icon-c sM0-bg-imgs-center"></i>
                    <p class="sM0-text-0-cr d-inline-block mb-0 ml-">Report</p>
                </button>
                <!-- Progress Bar -->
                <div class="progress w-75 sM0-f-radius sM0-supp-1-bg">
                    <div class="progress-bar sM0-danger-bg d-flex align-items-end pr-2" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        70%
                    </div>
                </div>
            </div>
        </div>
        <!-- User Asign Task Card -->
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center pt-4'>
                <!-- Image Profile -->
                <div class="OM-img-src sM0-green-border sM0-bg-imgs-center sM0-img-b sM0-f-radius mb-4 d-flex justify-content-end align-items-end">
                    <div class="sM0-bg-opacity-green-90 sM0-f-radius OM-icon-call-holder position-relative d-flex justify-content-center align-items-center">
                        <i class="OM-img-call sM0-icon-d sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                </div>
                <!-- Username Header -->
                <p class=" sM0-text-0-cr sM0-opacity-50 mb-3 h5">Name Username</p>
                <!-- Job Title -->
                <p class=" sM0-text-0-cr sM0-opacity-50 mb-3">Graphic Designer</p>
                <!-- Location -->
                <div class="d-flex justify-content-center">
                    <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mb-3"></i>
                    <p class="sM0-main-cr d-inline-block mb-0 ml-2">Egypt, Cairo</p>
                </div>
                <!-- Inprogress Task -->
                <button class="btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-bg-opacity-green-25 px-4 py-2 mb-3">
                    <i class="OM-img-Plus sM0-icon-c sM0-bg-imgs-center"></i>
                    <p class="sM0-text-0-cr d-inline-block mb-0 ml-2">Asign Task</p>
                </button>
                <!-- Progress Bar -->
                <div class="progress w-75 sM0-f-radius sM0-supp-1-bg">
                    <div class="progress-bar sM0-green-bg d-flex align-items-end" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        70%
                    </div>
                </div>
            </div>
        </div>
        <!-- User In-Progress Card -->
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius d-flex flex-column align-items-center pt-4'>
                <!-- Image Profile -->
                <div class="OM-img-src sM0-white-border sM0-bg-imgs-center sM0-img-b sM0-f-radius mb-4 d-flex justify-content-end align-items-end">
                    <div class="sM0-bg-opacity-green-90 sM0-f-radius OM-icon-call-holder position-relative d-flex justify-content-center align-items-center">
                        <i class="OM-img-call sM0-icon-d sM0-bg-imgs-center d-inline-block"></i>
                    </div>
                </div>
                <!-- Username Header -->
                <p class=" sM0-text-0-cr sM0-opacity-50 mb-3 h5">Name Username</p>
                <!-- Job Title -->
                <p class=" sM0-text-0-cr sM0-opacity-50 mb-3">Graphic Designer</p>
                <!-- Location -->
                <div class="d-flex justify-content-center">
                    <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mb-3"></i>
                    <p class="sM0-main-cr d-inline-block mb-0 ml-2">Egypt, Cairo</p>
                </div>
                <!-- Inprogress Task -->
                <button class="btn d-flex justify-content-center sM0-btn-w-160 sM0-f-radius sM0-supp-1-bg sM0-opacity-50 px-4 py-2 mb-3">
                    <i class="OM-img-progress sM0-icon-c sM0-bg-imgs-center"></i>
                    <p class="sM0-text-0-cr d-inline-block mb-0 ml-2">In-Progress</p>
                </button>
                <!-- Progress Bar -->
                <div class="progress w-75 sM0-f-radius sM0-supp-1-bg">
                    <div class="progress-bar sM0-smoke-bg d-flex align-items-end" role="progressbar" style="width: 70%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        70%
                    </div>
                </div>
            </div>
        </div>
        <div class='col-xl-3 col-lg-4 col-sm-6 pl-0 sM0-f-radius M0-card pr-4 mb-4'>
            <div class='sM0-supp-0-bg w-100 h-100 sM0-f-radius'></div>
        </div>
    </div>
</div>