/* ? Style flags = M0- */

.OM-Border-Reduis{
    border-radius: 15px ;
}
.OM-Border-Reduis-imgs{
    border-radius: 50%;
    border: 6px solid rgb(113, 212, 113);
}
.OM-Border-Container{
    border: #21263b solid 1px;
}
.OM-Shadow-Container{
    box-shadow: 0px 0px 6px -1px rgb(26, 25, 25);
}
.OM-Limit-Width{
    max-width: 250px;
}
.OM-Move-Header{
    position: relative;
    color: #2C84F0;
    font-size: 20px;
    font-weight: 600;
}
.OM-Font-Style{
    color: #858AA0;
}
.OM-holder-title{
    top: 20px;
    left: 10px;
}
.OM-img-src{
    /* background-image: url(); */
}
