/* ICONES === Start */
.iM0-icon-dubiAdmin-gold {
  background-image: url("/assets/Icons/Dubaiadmingold.svg");
}
.iM0-icon-dubiAdmin-white {
  background-image: url("/assets/Icons/Dubaiadminwhite.svg");
}
.iM0-icon-accountManger-gold {
  background-image: url("/assets/Icons/Accountmanagergold.svg");
}
.iM0-icon-accountManger-white {
  background-image: url("/assets/Icons/Accountmanagerwhite.svg");
}
.iM0-icon-camera-gold {
  background-image: url("/assets/Icons/Camera.svg");
}
.iM0-icon-camera-white {
  background-image: url("/assets/Icons/upload-image.svg");
}
.iM0-icon-designers-gold {
  background-image: url("/assets/Icons/Design.svg");
}
.iM0-icon-designers-white {
  background-image: url("/assets/Icons/Designwhite.svg");
}
.iM0-icon-contentManger-gold {
  background-image: url("/assets/Icons/Contentgold.svg");
}
.iM0-icon-contentManger-white {
  background-image: url("/assets/Icons/Contentwhite.svg");
}
.iM0-icon-trash-red {
  background-image: url("/assets/Icons/newtrash.svg");
}
.iM0-icon-upload-white {
  background-image: url("/assets/Icons/Uploadwhite.svg");
}
/* ICONES === End */
