/* You can add global styles to this file, and also import other style files */
/* ? Style flags = sM0- */

/* COLORS ===START */
/* backgrounds */
.sM0-main-bg {
  background-color: #2c84f0;
}
.sM0-smoke-bg {
  background-color: #191e32;
}
.sM0-supp-0-bg {
  background-color: #2c324f;
}
.sM0-supp-1-bg {
  background-color: #14182b;
}
/* Colors */
.sM0-main-cr {
  color: #2c84f0;
}
.sM0-smoke-cr {
}
.sM0-supp-0-cr {
}
/* COLORS ===END */
/* radius ===START*/
.sM0-f-radius {
  border-radius: 35px;
}
/* radius ===END*/
/* elements ===START */
/* Standers In All Pages */
a {
  cursor: pointer;
}
/* elements ===END */
