<div class='row justify-content-center mb-4'>
  <form class='w-100'  #locationForm="ngForm" (ngSubmit)="locationForm.valid && onSubmit(locationForm)">
    <!-- Location Area -->
    <div class="sM0-inp-location-holder-a sM0-f-radius d-flex mb-4 bg-dark">
      
    </div>
    <!-- 1st Row -->
    <!-- User Name Input -->
    <div class=" d-flex mb-4">
      <!-- Icon Holder -->
      <div class='sM0-smoke-bg sM0-t-l-radius p-4'>
        <i class="OM-img-inprogress sM0-icon-d d-block"></i>
      </div>
      <!-- Input Field -->
      <div class="w-100">
        <input ngModel name="address" required [(ngModel)]="taskDetailsService.taskDetails?.location.address" type="text" placeholder="Address..." class=" sM0-text-0-cr sM0-fs-16 pl-4 h-100 w-100 sM0-supp-1-bg sM0-r-b-radius">
      </div>
    </div>
    <!-- 2nd Row -->
    <!-- User Name Input -->
    <div class=" d-flex mb-4">
      <!-- Icon Holder -->
      <div class='sM0-smoke-bg sM0-t-l-radius p-4'>
        <i class="OM-img-inprogress sM0-icon-d d-block"></i>
      </div>
      <!-- Input Field -->
      <div class="w-100">
        <input ngModel name="city" required [(ngModel)]="taskDetailsService.taskDetails?.location.city" type="text" placeholder="City..." class=" sM0-text-0-cr sM0-fs-16 pl-4 h-100 w-100 sM0-supp-1-bg sM0-r-b-radius">
      </div>
    </div>
    <!-- 3rd Row -->
    <div class="d-flex mb-4">
      <!-- ? Gender -->
      <div class="w-100 d-flex">
        <!-- Icon Holder -->
        <div class='sM0-smoke-bg sM0-t-l-radius p-4'>
          <i class="OM-icon-home sM0-icon-d d-block"></i>
        </div>
        <!-- Select Input -->
        <div class='w-100'>
          <input ngModel name="latitude" required [(ngModel)]="taskDetailsService.taskDetails?.location.latitude" placeholder="latitude ( For Google Map )..." class='pl-4 h-100 sM0-text-0-cr sM0-supp-1-bg sM0-r-b-radius w-100 sM0-border-none'>
        </div>
      </div>
      <!-- ? Start Divider -->
      <div class="px-3"></div>
      <!-- ? End Divider -->
      <!-- ? Gender -->
      <div class="w-100 d-flex">
        <!-- Icon Holder -->
        <div class='sM0-smoke-bg sM0-t-l-radius p-4'>
          <i class="OM-icon-rent sM0-icon-d d-block"></i>
        </div>
        <!-- Select Input -->
        <div class='w-100'>
          <input ngModel name="longitude" required [(ngModel)]="taskDetailsService.taskDetails?.location.longitude" placeholder="Longitude ( For Google Map )..." class='pl-4 h-100 sM0-text-0-cr sM0-supp-1-bg sM0-r-b-radius w-100 sM0-border-none'>
        </div>
      </div>
    </div>
    
    <!-- Button Save -->
    <div class="d-flex justify-content-end pl-4 mb-5 w-50 ml-auto">
      <button class="sM0-t-l-radius sM0-inp-a flex-row-reverse w-50 px-4 sM0-main-cr d-flex align-items-center pr-4 justify-content-center sM0-main-bg sM0-border-none">
        <p class="mb-0 m-auto sM0-text-0-cr sM0-fs-b-16">Previous</p><i class="OM-icon-arrowin sM0-icon-d"></i>
      </button>
      <div class="p-2"></div>
      <button class="sM0-r-b-radius sM0-inp-a w-50 px-4 sM0-main-cr d-flex align-items-center pr-4 justify-content-center sM0-main-bg sM0-border-none">
        <p class="mb-0 m-auto sM0-text-0-cr sM0-fs-b-16">Next</p><i class="OM-icon-arrowout sM0-icon-d"></i>
      </button>
    </div>
  </form>
</div>