<div class="row align-items-center justify-content-center overflow-auto h-100">
<!-- ? --------------------------------------------------------------------- -->
    <!-- ! Start C.M media -->
    <!-- ! End C.M Media -->
    <!-- ? ---------------------------------------------------------------------- -->
    <!-- ! Start DashBoards -->
    <!-- ! End DashBoard -->
    <!-- ? ---------------------------------------------------------------------- -->
    <!-- ! Start DashBoards Card -->
    <!-- ! End DashBoard Card -->
    <!-- ? ---------------------------------------------------------------------- -->
    <!-- ! Start C.M. Location -1 -->
    <!-- ! End C.M. Location -1 -->
    <!-- ? ---------------------------------------------------------------------- -->
    <!-- ! Start C.M. Location -2 -->
    <!-- ! End C.M. Location -2 -->
    <!-- ? ---------------------------------------------------------------------- -->
    <!-- last cards -->
    <!-- <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div> -->
    <!-- ! Start Photographer Panel -->
    <!-- ! End Photographer Panel -->
    <!-- ! Start Designers -->
    <!-- ! End Designers -->
</div>