
<div class="row d-flex flex-wrap align-content-start justify-content-center OM-scroller h-100">
    <div class='M0-mini-card  pr-4 mb-4'>
        <div class='w-100 h-100 sM0-f-radius-dotted d-flex flex-column align-items-center justify-content-center'>
            <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mb-2"></i>
            <p class="mb-2 sM0-main-cr ">Upload Image</p>
            <p class="mb-0 sM0-text-0-cr sM0-fs-10">Can Upload Multiple Files (jpg,png,...)</p>
        </div>
    </div>
    <!-- Proparty Card -->
    <div class='M0-mini-card  pr-4 mb-4'>
        <!-- Image Holder -->
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'>
            <!-- Proparty Image -->
            <div class="OM-img-src sM0-bg-imgs-center sM0-f-radius h-100 w-100 d-flex align-items-end justify-content-center pb-3">
                <!-- Icon Holder -->
                <div class="sM0-smoke-bg d-flex sM0-f-radius">
                    <!-- Edit Icon -->
                    <div class="sM0-bg-opacity-white-25 sM0-f-radius p-1">
                        <i class="d-block OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center"></i>
                    </div>
                    <!-- Star Icon -->
                    <div class="sM0-bg-opacity-gold-25 sM0-f-radius p-1 mx-3">
                        <i class="d-block OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center"></i>
                    </div>
                    <!-- Trash Icon -->
                    <div class="sM0-bg-opacity-red-25 sM0-f-radius p-1">
                        <i class="d-block OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offline Proparty Card -->
    <div class='M0-mini-card  pr-4 mb-4'>
        <!-- Image Holder -->
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'>
            <!-- Proparty Image -->
            <div class="OM-img-src sM0-bg-imgs-center sM0-f-radius h-100 w-100 d-flex align-items-end justify-content-center pb-3">
                <!-- Icon Holder -->
                <div class="sM0-smoke-bg d-flex sM0-f-radius">
                    <!-- Edit Icon -->
                    <div class="d-flex sM0-bg-opacity-white-25 sM0-f-radius p-1">
                        <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center"></i>
                    </div>
                    <!-- Star Icon -->
                    <div class="d-flex sM0-bg-opacity-white-25 sM0-f-radius p-1 mx-3">
                        <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center"></i>
                    </div>
                    <!-- Trash Icon -->
                    <div class="d-flex sM0-bg-opacity-red-25 sM0-f-radius p-1">
                        <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class='M0-mini-card w-100~ pr-4 mb-4'>
        <div class='sM0-supp-1-bg w-100 h-100 sM0-bg-opacity-gold-25 sM0-f-radius'>
            <div class="d-flex w-100 ml-4 mb-3 pt-4">
            <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center"></i>
            <p class="sM0-text-0-cr">Property Name</p>
            </div>
            <!-- Progress bar 1 -->
            <div class="progress mx-auto" data-value='70'>
                <span class="progress-left">
                    <span class="progress-bar  border-primary~ OM-border-Progress"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar border-primary~ OM-border-Progress"></span>
                </span>
                <div class="sM0-bg-opacity-gold-25 progress-value w-100 h-100  rounded-circle d-flex justify-content-center">
                    <div class="h5 d-flex sM0-text-0-cr justify-content-center align-items-center">70%</div>
                </div>
            </div>
            <p class="text-center mb-0 mt-3 sM0-text-0-cr">This Property Is</p>
            <p class="text-center mb-0 sM0-main-cr">In Progress</p>
            <div class='pb-3 mb-3 d-flex justify-content-center mt-4'>
                <button class="btn sM0-btn-w-160 d-flex justify-content-center sM0-f-radius sM0-bg-opacity-gold-25 px-3 py-2">
                    <i class="OM-img-Locationgold sM0-icon-c sM0-bg-imgs-center mr-2"></i>
                    <p class="sM0-text-0-cr d-inline-block mb-0">Call Agent</p>
                </button>
            </div>
            <!-- END -->

        </div>
    </div>
    <div class='M0-mini-card  pr-4 mb-4'>
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'></div>
    </div>
    <div class='M0-mini-card  pr-4 mb-4'>
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'></div>
    </div>
    <!-- last cards -->
    <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div>
</div>