
<div class="row d-flex flex-wrap align-content-start justify-content-center OM-scroller h-100">
    <div class='M0-mini-card  pr-4 mb-4'>
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'></div>
    </div>
    <div class='M0-mini-card  pr-4 mb-4'>
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'></div>
    </div>
    <div class='M0-mini-card  pr-4 mb-4'>
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'></div>
    </div>
    <div class='M0-mini-card  pr-4 mb-4'>
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'></div>
    </div>
    <div class='M0-mini-card  pr-4 mb-4'>
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'></div>
    </div>
    <div class='M0-mini-card  pr-4 mb-4'>
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'></div>
    </div>
    <div class='M0-mini-card  pr-4 mb-4'>
        <div class='sM0-supp-1-bg w-100 h-100 sM0-f-radius'></div>
    </div>
    <!-- last cards -->
    <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div>
    <div class='M0-mini-card-none'></div>
</div>