.OM-scroller {
  overflow-y: scroll !important;
}
.OM-img-Locationgold {
  background-image: url("/assets/Icons/Locationgold.svg");
}
.OM-img-src {
  background-image: url("/assets/Home/Home.jpg");
}
.OM-img-profile {
  background-image: url("/assets/Profile/profile1.jpg");
}
/* Status Cards === START */
.OM-img-inprogress {
  background-image: url("/assets/Icons/Inprogress.svg");
}
.OM-img-link {
  background-image: url("/assets/Icons/link.svg");
}
.OM-img-propertystatus {
  background-image: url("/assets/Icons/propertystatus.svg");
}
.OM-img-rightwhite {
  background-image: url("/assets/Icons/rightwhite.svg");
}
.OM-img-user {
  background-image: url("/assets/Icons/User.svg");
}
.OM-img-plus {
  background-image: url("/assets/Icons/Plus.svg");
}
.OM-img-design {
  background-image: url("/assets/Icons/Design.svg");
}
.OM-img-moderat {
  background-image: url("/assets/Icons/Moderat.svg");
}
.OM-img-upload {
  background-image: url("/assets/Icons/Upload.svg");
}
.OM-img-edit {
  background-image: url("/assets/Icons/Edit.svg");
}
.OM-img-star {
  background-image: url("/assets/Icons/Star.svg");
}
.OM-img-trash {
  background-image: url("/assets/Icons/Trash.svg");
}
.OM-img-uploadimage {
  background-image: url("/assets/Icons/Uploadimage.svg");
}
.OM-img-uploadimage-white {
  background-image: url("/assets/Icons/Uploadimagewhite.svg");
}
.OM-img-plusblack {
  background-image: url("/assets/Icons/Plusblack.svg");
}
.OM-img-usertagcomment {
  background-image: url("/assets/Icons/Usertagcomment.svg");
}
.OM-img-camera {
  background-image: url("/assets/Icons/Camera.svg");
}
/* ! Start C.M. Location -1  */
.OM-img-size {
  background-image: url("/assets/Icons/Size.svg");
}
.OM-img-lot {
  background-image: url("/assets/Icons/Lot.svg");
}
.OM-img-rooms {
  background-image: url("/assets/Icons/Rooms.svg");
}
.OM-img-bedrooms {
  background-image: url("/assets/Icons/Bedrooms.svg");
}
.OM-img-bathrooms {
  background-image: url("/assets/Icons/Bathrooms.svg");
}
.OM-img-garage {
  background-image: url("/assets/Icons/Garages.svg");
}
.OM-img-calender {
  background-image: url("/assets/Icons/Calender.svg");
}
.OM-img-floors {
  background-image: url("/assets/Icons/Floors.svg");
}
.OM-img-rent {
  background-image: url("/assets/Icons/Rent.svg");
}
.OM-img-area {
  background-image: url("/assets/Icons/Area.svg");
}
.OM-img-callwhite {
  background-image: url("/assets/Icons/callwhite.svg");
}
.OM-img-uploadimage {
  background-image: url("/assets/Icons/Uploadimage.svg");
}
.OM-img-rightgreen {
  background-image: url("/assets/Icons/Right.svg");
}
.OM-img-play {
  background-image: url("/assets/Icons/Play.svg");
}
.OM-img-icon {
  background-image: url("/assets/Icons/Icon.svg");
}
.OM-img-youtube {
  background-image: url("/assets/Icons/Youtube.svg");
}
/* ! End C.M. Location -1  */
/* END */
/* Progress Bar */
.OM-border-Progress {
  border-color: rgba(233, 196, 106, 0.9) !important;
}
.OM-border-Progress-green {
  border-color: rgba(92, 184, 92, 0.5) !important;
}
.progress {
  width: 100px;
  height: 100px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}
