.OM-icon-email {
  background-image: url("/assets/Icons/Email.svg");
}
.OM-icon-callwhite {
  background-image: url("/assets/Icons/callwhite.svg");
}
.OM-icon-location {
  background-image: url("/assets/Icons/Location.svg");
}
.OM-icon-facebook {
  background-image: url("/assets/Icons/Facebook.svg");
}
.OM-icon-instagram {
  background-image: url("/assets/Icons/Instagram.svg");
}
.OM-icon-twitter {
  background-image: url("/assets/Icons/Twitter.svg");
}
